<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout.html :: admin(~{::title},~{:: .content-page}) }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <div th:attr="ng-controller=${#ctx.springRequestContext.requestUri.contains('create') ? 'create' : 'update'}" class="content-page">
        <div class="page-header d-flex justify-content-between align-items-center">
            <ul class="page-info">
                <li class=" page-title">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Tạo bộ nhớ' :'Cập nhật bộ nhớ']]</li>
                <li class=" page-description">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Thêm bộ nhớ mới' :'Thay đổi thông tin bộ nhớ']]</li>
            </ul>
            <!-- <a href="#" class="btn btn-added">
                <i class="fa-solid fa-plus"></i>
                Thêm sản phẩm
            </a> -->
        </div>
        <div class="card">
            <div class="card-body page-body">

                <form action="">
                    <div class="row">
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Dung lượng</label>
                            <input type="text"  ng-model="form.capacity" class="form-control" id="">
                        </div>
                        <div class="mb-4 col-lg-4 offset-2 form-group">
                            <label for="" class="form-label">Loại bộ nhớ</label>
                            <select class="form-select" aria-label="Default select example"
                            ng-model="form.type" ng-options="option.value as option.name for option in optionActive">
                                <!-- <option selected>Chọn thương hiệu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option> -->
                            </select>
                        </div>
                        <!-- <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Nhà sản xuất</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Chọn nhà sản xuất</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div> -->
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Manufacturer </label>
                            <input ng-model="form.manufacturer" type="text" class="form-control" id="manufacturer">
                        </div>
                    </div>
                        <div class="mb-4 col-lg-12 ">
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('create')}" class="btn btn-submit me-2" ng-click="create()">Lưu</a>
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('update')}" class="btn btn-submit me-2" ng-click="update(form.id)">Cập nhật</a>
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('update')}" class="btn btn-remove me-2" ng-click="delete(form.id)">Xoá</a>
                                <a th:href="@{/admin/storage/list}" class="btn btn-cancel" >Huỷ bỏ</a>
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>