<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout.html :: admin(~{::title},~{:: .content-page}) }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <div class="content-page" ng-controller="list">

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header" ng-controller="dataFileHandler">
                        <div class="container d-flex justify-content-center">
                            <!-- import -->
                            <label for="file-input-import" class="file-label">
                                <i class="fas fa-file-import fa-3x"></i>
                            </label>
                            <input type="file" id="file-input-import" class="file-input"
                                onchange="angular.element(this).scope().import(this.files)" accept=".xls, .xlsx" />
                            <!-- import -->
                    
                            <!-- export -->
                            <label for="file-input-export" class="file-label">
                                <i class="fas fa-file-export fa-3x" ng-click="export()"></i>
                            </label>
                            
                            <!-- export -->
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header d-flex justify-content-between align-items-center">
            <ul class="page-info">
                <li class=" page-title">Danh sách hãng sản xuất</li>
                <li class=" page-description">Thông tin hãng sản xuất</li>
            </ul>
            <a th:href="@{/admin/brand/create}" class="btn btn-added">
                <i class="fa-solid fa-plus"></i>
                Thêm hãng sản xuất
            </a>
        </div>
            <div class="card">
                <div class="card-body page-body" > 
                    <div class="table-top d-flex justify-content-between align-items-center">
                        <div class="search-input">
                            <div class="btn-searchset">
                                <i ng-click="search(searchText)" class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                ng-model="searchText" ng-change="search(searchText)">
                            </form>
                        </div>
                        <div class="wordset" ng-controller="dataFileHandler">
                            <ul>
                                <li>
                                   <a href="" class="text-danger" ng-click="exportToPDF()"><i class="fa-solid fa-file-pdf"></i></a>
                                </li>
                                <li>
                                    <a href="" class="text-success" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-file-excel"></i></a>
                                </li>
                                <li>
                                    <a href="" class="text-secondary"><i class="fa-solid fa-print"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-center">
                        <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr class="tb-header">
                                  <th ng-click="sortBy('name')" scope="col">Tên hãng</th>
                                  <th ng-click="sortBy('logo')" scope="col">Logo</th>
                                  <th ng-click="sortBy('email')" scope="col">Email</th>
                                  <th ng-click="sortBy('phone')" scope="col">SĐT</th>
                                  <th ng-click="sortBy('website')" scope="col">Website</th>
                                  <th ng-click="sortBy('country')" scope="col">Quốc gia</th>
                                  <th ng-click="sortBy('description')" scope="col">mô tả</th>
                                  <th scope="col">Thao tác</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="" ng-repeat="ba in items |  orderBy:sortColumn:reverseSort | limitTo:5:begin">
                                  <td>{{ba.name}}</td>
                                  <td>{{ba.logo}}</td>
                                  <td>{{ba.email}}</td>
                                  <td>{{ba.phone}}</td>
                                  <td>{{ba.website}}</td>
                                  <td>{{ba.country}}</td>
                                  <td>{{ba.description}}</td>
                                  <td class="td-action ">
                                     <div class="wordset">
                                        <ul>
                                            <li>
                                                <a th:href="@{/admin/brand/update}" ng-click="formEdit(ba.id)" class="text-secondary-emphasis"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </li>
                                            <li>
                                                <a href="" class="text-danger" ng-click="delete(ba.id)"><i class="fa-solid fa-trash"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </div>
                    <div class="table-bottom d-flex justify-content-end align-items-center pt-4">
                        <span class="pagination-info me-2">{{begin / 5 + 1}} of <span>{{pageCount}}</span></span>
                        <nav aria-label="Page navigation ">
                            <ul class="pagination mb-0">
                                <li class="page-item"><a class="page-link" ng-click="first()" href="#"><i
                                            class="fa-solid fa-backward-step"></i></a></li>
                                <li class="page-item"><a class="page-link" ng-click="prev()" href="#"><i
                                            class="fa-solid fa-backward"></i></a></li>
                                <li class="page-item"><a class="page-link" ng-click="next()" href="#"><i
                                            class="fa-solid fa-forward"></i></a></li>
                                <li class="page-item"><a class="page-link" ng-click="last()" href="#"><i
                                            class="fa-solid fa-forward-step"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>