<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout.html :: admin(~{::title},~{:: .content-page}) }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <div class="content-page" th:attr="ng-controller=${#ctx.springRequestContext.requestUri.contains('create') ? 'create' : 'update'}">
        <div class="page-header d-flex justify-content-between align-items-center">
            <ul class="page-info">
                <li class=" page-title">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Tạo hãng' :'Cập nhật hãng']]</li>
                <li class=" page-description">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Thêm hãng sản xuất mới' :'Thay đổi thông tin hãng sản xuất']]</li>
            </ul>
            <!-- <a href="#" class="btn btn-added">
                <i class="fa-solid fa-plus"></i>
                Thêm sản phẩm
            </a> -->
        </div>
        <div class="card">
            <div class="card-body page-body">
                <div class="card-body page-body">
                    <div class="loading-page" ng-show="isLoading">
                        <div class="spinner-border" role=" status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                <form action="">
                    <div class="row">
                        <!-- <div class="mb-4 col-lg-4 form-group">
                            <label for="product-name" class="form-label">Mã hãng</label>
                            <input type="text" class="form-control" id="product-name">
                        </div> -->
                        <div class="mb-4 col-lg-4 form-group">
                            <label for="product-name" class="form-label">Tên hãng</label>
                            <input type="text" ng-model="form.name" class="form-control" id="product-name">
                            <span ng-show="showName"  class="text-danger">{{MessageName}}</span>
                        </div>
                        <div class="mb-4 col-lg-4 form-group">
                            <label for="" class="form-label">Email</label>
                            <input type="text" ng-model="form.email" class="form-control" id="" list="email">
                            <span ng-show="showEmail"  class="text-danger">{{MessageEmail}}</span>
                            <datalist id="email">
                                <option value="123@gmail.com">
                                <option value="example@gmail.com">
                        </datalist>
                        </div>
                        <div class="mb-4 col-lg-4 form-group">
                            <label for="" class="form-label">Số điện thoại</label>
                            <input type="text" ng-model="form.phone" class="form-control" id="" list="phone">
                            <span ng-show="showPhone"  class="text-danger">{{MessagePhone}}</span>
                            <datalist id="phone">
                                <option value="0945747051">
                                <option value="0813515234">
                        </datalist>
                        </div>
                        <div class="mb-4 col-lg-4 form-group">
                            <label for="" class="form-label">Website</label>
                            <input type="text" ng-model="form.website" class="form-control" id="" list="web"  placeholder="https://www." >
                            <span ng-show="showWebsite"  class="text-danger">{{MessageWebsite}}</span>
                            <datalist id="web">
                                    <option value="hp.com.vn">
                                    <option value="dell.com">
                            </datalist>
                        </div>
                        <div class="mb-4 col-lg-4 form-group">
                            <label for="" class="form-label">Quốc gia</label>
                            <select ng-model="form.country" class="form-select" aria-label="Default select example"
                            ng-options="option.code as option.name for option in optionCountry"
                            >
                               
                            </select>
                            <span ng-show="showCountry"  class="text-danger">{{MessageCountry}}</span>
                        </div>
                        
                        <div class="mb-4 col-lg-12 form-group">
                            <label for="prod-desciption" class="form-label">Mô tả</label>
                            <textarea ng-model="form.description" class="form-control" id="prod-desciption" rows="3"></textarea>
                            <span ng-show="showDescription"  class="text-danger">{{MessageDescription}}</span>
                        </div>
                        <div class="mb-4 col-lg-12 form-group">
                            <label for="prod-desciption" class="form-label">Logo <span>[img-name]</span></label>
                            <div class="image-upload">
                                <input ng-model="form.logo" type="file">
                                
                                <div class="image-uploads ">
                                    <i class="fa-solid fa-cloud-arrow-up icon-upload"></i>
                                    <h4>Drag and drop a file to upload</h4>
                                </div>
                                <span ng-show="showLogo"  class="text-danger">{{MessageLogo}}</span>
                            </div>
                        </div>
                        <div class="mb-4 col-lg-12 ">
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('create')}" class="btn btn-submit me-2" ng-click="create()">Lưu</a>
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('update')}" class="btn btn-submit me-2" ng-click="update(form.id)">Cập nhật</a>
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('update')}" class="btn btn-remove me-2" ng-click="delete(form.id)">Xoá</a>
                                <a th:href="@{/admin/brand/list}" class="btn btn-cancel" >Huỷ bỏ</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>