<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout.html :: admin(~{::title},~{:: .content-page}) }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <div class="content-page" ng-app="app" ng-controller="list">
        <div class="page-header d-flex justify-content-between align-items-center">
            <ul class="page-info">
                <li class=" page-title">Danh sách người dùng</li>
                <li class=" page-description">Thông tin người dùng   </li>
            </ul>
            <a th:href="@{/admin/user/create}" class="btn btn-added">
                <i class="fa-solid fa-plus"></i>
                Thêm người dùng
            </a>
        </div>
            <div class="card">
                <div class="card-body page-body" > 
                    <div class="table-top d-flex justify-content-between align-items-center">
                        <div class="search-input">
                            <div class="btn-searchset">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                   <a href="" class="text-danger"><i class="fa-solid fa-file-pdf"></i></a>
                                </li>
                                <li>
                                    <a href="" class="text-success"><i class="fa-solid fa-file-excel"></i></a>
                                </li>
                                <li>
                                    <a href="" class="text-secondary"><i class="fa-solid fa-print"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-center">
                        <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr class="tb-header">
                                    <th ng-click="sortBy('fullname')" scope="col">Họ và tên</th>
                                    <th ng-click="sortBy('email')" scope="col">Email</th>
                                    <th ng-click="sortBy('phone')" scope="col">Số điện thoại</th>
                                    <th ng-click="sortBy('username')" hidden scope="col">Tên người dùng</th>
                                    <th ng-click="sortBy('passwork')" scope="col">Mật khẩu</th>
                                    <th ng-click="sortBy('address')" scope="col">Địa chỉ</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="mt" ng-repeat="us in items |  orderBy:sortColumn:reverseSort | limitTo:5:begin">
                                  <td scope="row">{{us.fullname}}</td>
                                  <td>{{us.email}}</td>
                                  <td>{{us.phone}}</td>
                                  <td>{{us.username}}</td>
                                  <td>{{us.password}}</td>
                                  <td>{{us.address}}</td>
                                  <td class="td-action ">
                                     <div class="wordset">
                                        <ul>
                                            <li>
                                                <a th:href="@{/admin/user/update}" ng-click="formEdit(us.username)" class="text-secondary-emphasis" ><i class="fa-solid fa-pen-to-square"></i></a>
                                            </li>
                                            <li>
                                                <a href="" class="text-danger" ng-click="delete(us.username)"><i class="fa-solid fa-trash"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </div>
                    <div class="table-bottom d-flex justify-content-end align-items-center pt-4">
                        <span class="pagination-info me-2">{{begin / 5 + 1}} of <span >11</span> {{pageCount}}</span>
                        <nav aria-label="Page navigation " >
                            <ul class="pagination mb-0">
                              <li class="page-item"><a class="page-link" ng-click="first()" href="#"><i class="fa-solid fa-backward-step"></i></a></li>
                              <li class="page-item"><a class="page-link" ng-click="prev()" href="#"><i class="fa-solid fa-backward"></i></a></li>
                              <li class="page-item"><a class="page-link"  ng-click="next()"  href="#"><i class="fa-solid fa-forward"></i></a></li>
                              <li class="page-item"><a class="page-link" ng-click="last()"  href="#"><i class="fa-solid fa-forward-step"></i></a></li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>