<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout.html :: admin(~{::title},~{:: .content-page}) }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <div class="content-page "
        th:attr="ng-controller=${#ctx.springRequestContext.requestUri.contains('create') ? 'create' : 'update'}">
        <div class="page-header d-flex justify-content-between align-items-center">
            <ul class="page-info">
                <li class=" page-title">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Tạo khuyến mãi'
                    :'Cập nhật khuyến mãi']]</li>
                <li class=" page-description">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Thêm
                    khuyến mãi mới' :'Thay đổi thông tin khuyến mãi']]</li>
            </ul>
            <!-- <a href="#" class="btn btn-added">
                <i class="fa-solid fa-plus"></i>
                Thêm sản phẩm
            </a> -->
        </div>
        <div class="card">
            <div class="card-body page-body">

                <form action="">
                    <div class="row" id="jqueryExample">
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="product-name" class="form-label">Mã khuyến mãi</label>
                            <input type="text" ng-model="form.id" class="form-control" id="product-name">
                            <span ng-show="showId" class="text-danger">{{MessageId}}</span>
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Tên khuyến mãi</label>
                            <input type="text" ng-model="form.title" class="form-control" id="">
                            <span ng-show="showTitle" class="text-danger">{{MessageTitle}}</span>
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">% khuyến mãi</label>
                            <input type="text" ng-model="form.percentage" class="form-control" id="">
                            <span ng-show="showPercentage" class="text-danger">{{MessagePercentage}}</span>
                        </div>
                        <div class="mb-4 col-lg-4 form-group">
                            <label for="" class="form-label">Từ ngày</label>
                            <div class="row">
                                <div class="col-lg-6"><input type="date" ng-model="form.startDate"  class="form-control" ></div>
                                <div class="col-lg-6"><input type="text" ng-model="startTime" placeholder="HH:mm:ss" class=" time form-control" ></div>
                            </div>
                            <span ng-show="showStartDate" class="text-danger">{{MessageStartDate}}</span>
                        </div>

                        <div class="mb-4 col-lg-4 form-group">
                            <label for="" class="form-label">Đến ngày</label>
                            <div class="row">
                                <div class="col-lg-6"><input type="text" ng-model="endTime" placeholder="HH:mm:ss" class=" time form-control" /></div>
                                <div class="col-lg-6"> <input type="date" ng-model="form.endDate"   class="form-control" /></div>
                            </div>
                            <span ng-show="showEndDate" class="text-danger">{{MessageEndDate}}</span>
                        </div>
                        <div class="mb-4 col-lg-4 form-group">
                            <label for="" class="form-label">Hoạt động</label>
                            <select class="form-select" ng-model="form.active" aria-label="Default select example"
                                ng-options="option.id as option.value for option in optionActive">

                            </select>
                            <span ng-show="showActive" class="text-danger">{{MessageActive}}</span>
                        </div>
                        <div class="mb-4 col-lg-12 form-group">
                            <label for="prod-desciption" class="form-label">Mô tả</label>
                            <textarea ng-model="form.description" class="form-control" id="prod-desciption" rows="3"></textarea>
                            <span ng-show="showDescription"  class="text-danger">{{MessageDescription}}</span>
                        </div>
                    </div>
                    <div class="mb-4 col-lg-12 ">
                        <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('create')}"
                            class="btn btn-submit me-2" ng-click="create()">Lưu</a>
                        <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('update')}"
                            class="btn btn-submit me-2" ng-click="update(form.id)">Cập nhật</a>
                        <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('update')}"
                            class="btn btn-remove me-2" ng-click="delete(form.id)">Xoá</a>
                        <a th:href="@{/admin/discount/list}" class="btn btn-cancel">Huỷ bỏ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>