.about h6{
    color: black;
       font-size: 14px;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
.about h2{
       color: black;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       padding-top: 20px;
       padding-bottom: 15px;
   }
   .about h5{
    color: black;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
.about strong{
       color: black;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
.about h3 img{
       height: 200px;
   }
