.cart-area {
    padding: 75px 0px 35px 0px;
}

.cart-table-content .table-content table {
    width: 100%;
}
.cart-table-content .table-content table thead th{
    background-color: #f8f8f8;
}

.cart-table-content .table-content table tbody > tr {
    border-bottom: 1px solid #eee;
}
.cart-table-content .table-content table thead > tr th:first-child {
    padding-left: 30px;
}
.cart-table-content .table-content table tbody > tr td:first-child {
    padding-left: 30px;
}
.cart-table-content .table-content table tbody > tr td {
    padding: 30px 0 30px 0;
}
.cart-table-content .table-content table tbody > tr td.product-thumbnail a {
    display: block;
    height: 80px;
    width:  80px;
}
.cart-table-content .table-content table tbody > tr td.product-thumbnail a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 1px solid #eee;
}
.cart-table-content .table-content table thead > tr th {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 15px 14px 0;
}
.cart-table-content .table-content table  td {
  vertical-align: middle;
}

.cart-table-content .table-content table thead > tr th.width-name {
    min-width: 280px;
}
/* .cart-table-content .table-content table thead > tr th.width-price {
    min-width: 118px;
}
.cart-table-content .table-content table thead > tr th.width-quantity {
    min-width: 187px;
}
.cart-table-content .table-content table thead > tr th.width-quantity {
    min-width: 187px;
}
.cart-table-content .table-content table thead > tr th.width-subtotal {
    min-width: 107px;
}

.cart-table-content .table-content table thead > tr th.width-remove {
    min-width: 101px;
} */
.cart-table-content .table-content table tbody > tr td.product-name h5 {
    display: block;
    font-size: 15px ;
    color: #333;
}
.cart-table-content .table-content table tbody > tr td.product-name h5 a {
    color: #333;
    text-decoration: none;
}
.cart-table-content .table-content table tbody > tr td.product-price span, 
.cart-table-content .table-content table tbody > tr td.product-total span {
    font-size: 15px;
    font-weight: 500;
    color: #4e97fd;
}
.product-quality {
    position: relative;
    width: 110px;
}
.product-quality input {
    width: 110px;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    padding: 2px 30px 2px 10px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 26px;
    height: 48px;
}
.product-quality input:focus {
    outline: none;
}
.cart-table-content .table-content table tbody > tr td.product-remove a {
    font-size: 15px;
    font-weight: 500;
    color: #696969;
    padding: 0 0 3px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.cart-shiping-update-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 75px;
    margin-bottom: 70px;
}
.cart-shiping-update-wrapper .continure-clear-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.continure-btn a, .common-btn-style a {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 26px;
    padding: 13px 36px;
    background-color: #4e97fd;
}
.cart-shiping-update-wrapper a {
    text-decoration: none;
}
.cart-shiping-update-wrapper .continure-clear-btn .clear-btn {
    margin-left: 22px;
}
.cart-shiping-update-wrapper .continure-clear-btn .clear-btn a {
    font-size: 15px;
    font-weight: 700;
    color: #444;
    display: inline-block;
}
.cart-shiping-update-wrapper .continure-clear-btn .clear-btn a i {
    margin-right: 8px;
    color: #4e97fd;
}

.cart-shiping-update-wrapper .update-price h5 {
     font-size: 15px;
    font-weight: 700;
    color: #444;

}
.continure-btn a:hover, .common-btn-style a:hover {
    background-color: #e4573d;
}
.cart-table-content .table-content {
    border: 1px solid #eee;
    border-bottom:none ;
}
.form-cart {
    width: 100%;
}

.coupon-wrap h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
}
.coupon-wrap .coupon-content p {
    color: #444;
    font-size: 15px;
    margin: 0;
}
.input-style.coupon-content-mrg {
    margin: 23px 0 25px;
}
.input-style input {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    height: 48px;
    color: #666;
    padding: 3px 20px;
    border-radius: 26px;
    font-size: 15px;
}
.continure-btn a.common-btn-padding-2, .common-btn-style a.common-btn-padding-2 {
    padding: 12px 41px;
}

.continure-btn a, .common-btn-style a {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 26px;
    padding: 13px 36px;
    background-color: #4e97fd;
}
.cart-collaterals-wrap .collaterals-content p {
    color: #444;
    font-size: 15px;
    margin: 0 0 11px;
}
.cart-collaterals-wrap .collaterals-content p span {
    font-size: 18px;
    font-weight: 700;
    color: #4e97fd;
}
.select-style.select-style-mrg-1 {
    margin-bottom: 30px;
}
.coupon-wrap h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
}
.coupon-wrap .coupon-content p {
    color: #444;
    font-size: 15px;
    margin: 0;
}
.input-style.coupon-content-mrg {
    margin: 23px 0 25px;
}
.input-style input {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    height: 48px;
    color: #666;
    padding: 3px 20px;
    border-radius: 26px;
    font-size: 15px;
}
.input-style input:focus {
    background-color: #ffffff;
    outline: 0px;
    border: 1px solid #4e97fd;
}
.continure-btn a, .common-btn-style a {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 26px;
    padding: 13px 36px;
    background-color: #4e97fd;
}

.grand-total-wrap {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 25px 30px 40px;
}
.grand-total-wrap ul {
    overflow: hidden;
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.grand-total-wrap ul li {
    font-size: 15px;
    color: #444;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.grand-total-wrap ul li h4 {
    font-size: 18px;
    font-weight: 700;
    color: #4e97fd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}
.grand-total-wrap .grand-total {
    padding: 25px 0 40px;
}
.grand-total-wrap .grand-total h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.grand-total-wrap .grand-total h4 span {
    float: right;
    font-size: 20px;
    color: #e4573d;
    font-weight: 700;
}
.grand-total-wrap .grand-total-btn a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 26px;
    padding: 13px 36px;
    background-color: #4e97fd;
    text-align: center;
}
.grand-total-wrap .grand-total-btn a:hover {
    background-color: #e4573d;
    color: #fff;
    
}