<!--  -->
<section class="mb-5 mt-5 mx-2">
    <div class="row  mx-4 bg-ffffff w-1447">
        <div class="col-lg-12">
            <div class="col-lg-12 p-3 mb-1 rounded-top " style=" background-color: #ffffff; ">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div type="title" color="textTitle" class="title css-1x5ixzd">Danh mục</div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div>
                        <div class="col-inner">
                            <div class=" dns_partner_list ">
                                <div class="img has-hover " ng-repeat="b in brands   | limitTo:9:begin">
                                    <a href="/client/ListCategory" ng-click="brandName(b.name)">
                                        <div class="img-inner dark">
                                            <img width="149" height="40"
                                                ng-src="{{b.logo}}">
                                        </div>
                                    </a>
                                </div>



                                <!-- <div class="img has-hover "><a th:href="@{/ListCategory(name='asus')}">
                    <div class="img-inner dark"><img width="149" height="40"
                        src="https://laptopxachtayshop.com/uploads/2022/04/asus.png">
                    </div>
                    </a>
                </div>
                <div class="img has-hover x "><a th:href="@{/ListCategory(name='hp')}">
                    <div class="img-inner dark"><img width="149" height="40"
                        src="https://laptopxachtayshop.com/uploads/2022/04/hp.png">
                    </div>
                    </a>
                </div>
                <div class="img has-hover"><a th:href="@{/ListCategory(name='lenovo')}">
                    <div class="img-inner dark"><img width="149" height="40"
                        src="https://laptopxachtayshop.com/uploads/2022/04/lenovo.png">
                    </div>
                    </a>
                </div>
                <div class="img has-hover "><a th:href="@{/ListCategory(name='acer')}">
                    <div class="img-inner dark"><img width="149" height="40"
                        src="https://laptopxachtayshop.com/uploads/2022/04/acer.png">
                    </div>
                    </a>
                </div>
                <div class="img has-hover "><a th:href="@{/ListCategory(name='thinkpad')}">
                    <div class="img-inner dark"><img width="1024" height="370"
                        src="https://laptopxachtayshop.com/uploads/2022/04/thinkpad.png">
                    </div>
                    </a>
                </div>
                <div class="img has-hover"><a th:href="@{/ListCategory(name='msi')}">
                    <div class="img-inner dark"><img width="149" height="40"
                        src="https://laptopxachtayshop.com/uploads/2022/04/msi.png">
                    </div>
                    </a>
                </div>
                <div class="img has-hover"><a th:href="@{/ListCategory(name='GIGABYTE')}">
                    <div class="img-inner dark"><img width="149" height="40"
                        src="https://laptopxachtayshop.com/uploads/2022/11/GIGABYTE.png">
                    </div>
                    </a>
                </div>
                <div class="img has-hover "><a th:href="@{/ListCategory(name='apple')}">
                    <div class="img-inner dark"><img width="149" height="40"
                        src="https://laptopxachtayshop.com/uploads/2022/04/apple.png">
                    </div>
                    </a>
                </div> -->

                            </div>
                            <div class="stack box_search stack-row ">
                                <a href="/laptop-tu-5-den-10-trieu.html" class="button  "> <span>Từ 5-10 triệu</span>
                                </a>
                                <a href="/laptop-tu-10-den-15-trieu.html" class="button  "> <span>Từ 10-15 triệu</span>
                                </a>
                                <a href="/laptop-tu-15-den-20-trieu.html" class="button  "> <span>Từ 15-20 triệu</span>
                                </a>
                                <a href="/laptop-tu-20-den-50-trieu.html" class="button  "><span>Từ 20-50 triệu</span>
                                </a>
                                <a href="https://laptopxachtayshop.com/laptop-xach-tay/mong-nhe" class="button  ">
                                    <span>Mỏng, nhẹ</span></a>
                                <a href="https://laptopxachtayshop.com/laptop-xach-tay/pin-lau" class="button  ">
                                    <span>Pin lâu</span> </a>
                                <a href="/tim-kiem.html?key=cảm%20ứng" class="button  "> <span>Cảm ứng</span></a>
                                <a href="https://laptopxachtayshop.com/laptop-xach-tay/van-phong" class="button  ">
                                    <span>Văn phòng</span> </a>
                                <a href="https://laptopxachtayshop.com/laptop-xach-tay/cao-cap"
                                    class="button  "><span>Cao cấp</span> </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
<!--  -->