 <!-- Start Main Top -->
 <header class="main-header" ng-controller="header">
    <!-- Start Main Top -->
    <div class="main-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="text-slid-box">
              <div id="offer-box" class="carouselTicker">
                <ul class="offer-box">
                  <li>
                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                  </li>
                  <li>
                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                  </li>
                  <li>
                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                  </li>
                  <li>
                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                  </li>
                  <li>
                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                  </li>
                  <li>
                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                  </li>
                  <li>
                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                  </li>
                  <li>
                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
            <div class="right-phone-box">
              <!-- TH khi chưa đăng nhập  -->
              <div class="d-flex align-items-center me-5" th:unless="${#request.remoteUser}">
                <a type="button" th:href="@{/account/login}" class="btn btn-dark t me-3 fw-bold" style="background-color: #d33b33; color: #ffffff; ">
                  Đăng nhập
                </a>
              </div>

              <!-- TH khi chưa đăng nhập  -->

              <!-- TH khi đăng nhập thành công -->
              <div class="d-flex align-items-center pe-5 fw-bold"  th:if="${#request.remoteUser}" >
              <div class="text-truncate me-3 " style="width: 100px; color: #1435c3;" ><a href="#" style="color: #1435c3;"  th:text="${session.account.fullname}" >  </a></div>
              <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                  id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNzXYh-X4wxX1jfbPywa8HWoNGDnx1Tlo0-g&usqp=CAU" class="rounded-circle" height="30" width="30"
                    alt="Black and White Portrait of a Man" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                  <li>
                    <a class="dropdown-item" href="#">Hồ sơ cá nhân</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" th:unless="${#request.remoteUser}">Đăng nhập</a>
                  </li>
                  <li>
                    <a class="dropdown-item"  href="/logoff" >Đăng xuất</a>
                  </li>
                 
                </ul>
              </div>
              
            </div>
              <!-- TH khi đăng nhập thành công -->
            </div>


          </div>
        </div>
      </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav" style="height: 60px;">
      <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="index.html"><img th:src="@{/assets/image/logo_new.png}" width="200" style="height: 81px;"
              class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item active"><a class="nav-link" th:href="@{/client/index}">Trang chủ</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/client/about}">Giới thiệu</a></li>
            <!--  
            <li class="dropdown megamenu-fw">
              <a href="#" class="nav-link arrow" data-toggle="dropdown">Sản phẩm</a>
              <ul class="dropdown-menu megamenu-content" role="menu">
                <li>
                  <div class="row">
                    <div class="col-menu col-md-3">
                      <h6 class="title">Top</h6>
                      <div class="content">
                        <ul class="menu-col">
                          <li><a href="shop.html">Jackets</a></li>
                          <li><a href="shop.html">Shirts</a></li>
                          <li><a href="shop.html">Sweaters & Cardigans</a></li>
                          <li><a href="shop.html">T-shirts</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-menu col-md-3">
                      <h6 class="title">Bottom</h6>
                      <div class="content">
                        <ul class="menu-col">
                          <li><a href="shop.html">Swimwear</a></li>
                          <li><a href="shop.html">Skirts</a></li>
                          <li><a href="shop.html">Jeans</a></li>
                          <li><a href="shop.html">Trousers</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-menu col-md-3">
                      <h6 class="title">Clothing</h6>
                      <div class="content">
                        <ul class="menu-col">
                          <li><a href="shop.html">Top Wear</a></li>
                          <li><a href="shop.html">Party wear</a></li>
                          <li><a href="shop.html">Bottom Wear</a></li>
                          <li><a href="shop.html">Indian Wear</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-menu col-md-3">
                      <h6 class="title">Accessories</h6>
                      <div class="content">
                        <ul class="menu-col">
                          <li><a href="shop.html">Bags</a></li>
                          <li><a href="shop.html">Sunglasses</a></li>
                          <li><a href="shop.html">Fragrances</a></li>
                          <li><a href="shop.html">Wallets</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          -->
            <!-- <li class="dropdown">
              <a href="#" class="nav-link  arrow" data-toggle="dropdown">SHOP</a>
              <ul class="dropdown-menu">
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="my-account.html">My Account</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="shop-detail.html">Shop Detail</a></li>
              </ul>
            </li> -->
            <li class="nav-item"><a class="nav-link" th:href="@{/client/contact}">Liên hệ</a></li>
            <li class="nav-item" th:if="${#request.remoteUser}"><a class="nav-link" th:href="@{/client/favorite}">Yêu thích</a></li>
            <li class="nav-item"><a class="nav-link" ng-if="user.admin == true" th:href="@{/admin/index}">ADMIN</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
          <ul>
            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
            <!-- <li class="side-menu">

              </li> -->
              <li>
                <a th:href="@{/client/cart/list}"><i class="fa-solid fa-cart-shopping"></i><span class="badge rounded-pill bg-danger">{{count}}</span> </a>
              </li>
          </ul>
        </div>
        <!-- End Atribute Navigation -->
      </div>
      <!-- Start Side Menu -->
      <!-- <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <li class="cart-box">
          <ul class="cart-list">
            <li>
              <a href="#" class="photo"><img
                  src="https://bizweb.dktcdn.net/thumb/grande/100/465/515/products/hp-pavilion-gaming-15-ryzen-01.jpg?v=1684657704203"
                  class="cart-thumb" alt="" /></a>
              <h6><a href="#" class="title_text_cart" data-toggle="tooltip"
                  title="Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GB Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GBPavilion Gaming 15 R5 4600H/GTX1650/8GB/512GB">Pavilion
                  Gaming 15 R5 4600H/GTX1650/8GB/512GB Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GBPavilion Gaming 15
                  R5 4600H/GTX1650/8GB/512GB </a></h6>
              <p> <span class="cart-quatity">2</span><i class="fas fa-xmark"></i> <i class="fas fa-minus"></i>
                <span class="price">23.900.00<span>₫</span></span>
                <span class="cart-price-del">
                  30.400.000<span>₫</span>
                </span>
              </p>
              <div class="discount">
                <p class="discount-title">
                  Giảm&nbsp;13%
                </p>
              </div>
            </li>
            <li>
              <a href="#" class="photo"><img
                  src="https://bizweb.dktcdn.net/thumb/grande/100/465/515/products/hp-pavilion-gaming-15-ryzen-01.jpg?v=1684657704203"
                  class="cart-thumb" alt="" /></a>
              <h6><a href="#" class="title_text_cart" data-toggle="tooltip"
                  title="Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GB Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GBPavilion Gaming 15 R5 4600H/GTX1650/8GB/512GB">Pavilion
                  Gaming 15 R5 4600H/GTX1650/8GB/512GB Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GBPavilion Gaming 15
                  R5 4600H/GTX1650/8GB/512GB </a></h6>
              <p> <span class="cart-quatity">2</span><i class="fas fa-xmark"></i> <i class="fas fa-minus"></i>
                <span class="price">23.900.00</span>
                <span class="cart-price-del">
                  30.400.000₫
                </span>
              </p>
              <div class="discount">
                <p class="discount-title">
                  Giảm&nbsp;13%
                </p>
              </div>
            </li>
            <li>
              <a href="#" class="photo"><img
                  src="https://bizweb.dktcdn.net/thumb/grande/100/465/515/products/hp-pavilion-gaming-15-ryzen-01.jpg?v=1684657704203"
                  class="cart-thumb" alt="" /></a>
              <h6><a href="#" class="title_text_cart" data-toggle="tooltip"
                  title="Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GB Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GBPavilion Gaming 15 R5 4600H/GTX1650/8GB/512GB">Pavilion
                  Gaming 15 R5 4600H/GTX1650/8GB/512GB Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GBPavilion Gaming 15
                  R5 4600H/GTX1650/8GB/512GB </a></h6>
              <p> <span class="cart-quatity">2</span><i class="fas fa-xmark"></i> <i class="fas fa-minus"></i>
                <span class="price">23.900.00</span>
                <span class="cart-price-del">
                  30.400.000₫
                </span>
              </p>
              <div class="discount">
                <p class="discount-title">
                  Giảm&nbsp;13%
                </p>
              </div>
            </li>
            <li>
              <a href="#" class="photo"><img
                  src="https://bizweb.dktcdn.net/thumb/grande/100/465/515/products/hp-pavilion-gaming-15-ryzen-01.jpg?v=1684657704203"
                  class="cart-thumb" alt="" /></a>
              <h6><a href="#" class="title_text_cart" data-toggle="tooltip"
                  title="Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GB Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GBPavilion Gaming 15 R5 4600H/GTX1650/8GB/512GB">Pavilion
                  Gaming 15 R5 4600H/GTX1650/8GB/512GB Pavilion Gaming 15 R5 4600H/GTX1650/8GB/512GBPavilion Gaming 15
                  R5 4600H/GTX1650/8GB/512GB </a></h6>
              <p> <span class="cart-quatity">2</span><i class="fas fa-xmark"></i> <i class="fas fa-minus"></i>
                <span class="price">23.900.00</span>
                <span class="cart-price-del">
                  30.400.000<span>₫</span>
                </span>
              </p>
              <div class="discount">
                <p class="discount-title">
                  Giảm&nbsp;13%
                </p>
              </div>
            </li>



            <li class="total">
              <div class="float-right">
                <strong class="w-25  " style="color: black  ; font-weight: 900;">TỔNG:</strong>
                <span class="price_total w-75">23.900.00<span>₫</span></span>
              </div>
              <a th:href="@{/cart/list}" class="btn btn-default hvr-hover btn-cart mt-3">Xem chi tiết giỏ hàng</a>
            </li>
          </ul>
        </li>
      </div> -->
      <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
    <!-- Start Top Search -->
    <div class="top-search">
      <div class="container">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
      </div>
    </div>
    <!-- End Top Search -->
  </header>
  <!-- End Main Top -->