<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::title},~{:: main})}">

<head>
  <title>Gioithieu</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="gioithieu.css"> -->
</head>

<body>

  <main class="container">
    <div class="about">
      <h2>GIỚI THIỆU LAPTECH</h2>
      <br>
      <br>
      <h3 style="text-align: center;">
        <img  th:src="@{assets/image/logo_new.png}" alt= "">
      </h3>
     <br>
   
      <h5> <strong>LapTech</strong> là cửa hàng chuyên buôn bán các sản phẩm laptop ( máy tính xách tay) , các sản phẩm được nhập về các nước công nghệ trên thế giới như Mỹ, Nhật,Trung Quốc,.. Mang đến nhiều chất lượng cho khách hàng <br> <br>
      Laptop của cửa hàng chúng tôi đều mang đến chất lượng cao đều là hàng cao cấp được nhập và kiểm tra rất kỉ lưỡng, các loại laptop đa dạng như gaming, đồ họa, văn phòng,..đều có các kiểu mẫu khác nhau giá phù hợp với sinh viên. Ngoài ra cửa hàng của chúng tôi còn có các khuyến mãi dành tặng cho các khách hàng vjp và các ưu đãi cho sinh viên khi đến cửa hàng mua sản phẩm  
        <br>
      </h5>
      
       <h6> 
  
  &#9658 Cửa hàng chúng tôi đã nhập các loại laptop hiện đại siêu tốt cao cấp giúp khách hàng thỏa mãn  nhu cầu cần sử dụng. Cửa hàng của chúng tôi có các loại laptop như gaming, văn phòng, đồ họa và cửa hàng chúng tôi còn có dịch vụ trao đổi laptop cũ đổi mới theo giá thị trường <br> <br>
  &#9658 LapTech hướng đến mục tiêu không chỉ là nơi kinh doanh máy tính mà còn là nơi khách hàng có thể tìm thấy mọi tiện ích công nghệ hiện đại nhất và trải nghiệm dịch vụ tốt nhất. <br> <br>
  &#9658 LapTech được biết đến là cửa hàng buôn bán laptop hàng đầu chất lượng với các sản phẩm siêu cao cấp được nhiều người sử dụng như các laptop gaming, văn phòng danh cho sinh viên , nhân viên ,... Ngoài ra LapTech còn bán các mặt hàng phụ kiện, thiết bị công nghệ laptop như ram, chuột, bàn phím.
      </h6>
     
    </div>
   
   
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>