<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/assets/css/errorPage.css}">
</head>
<body>


    <h1>404 Error</h1>
<p class="zoom-area"> Bạn không có quyền đăng nhập. </p>
<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>4</span>
</section>
<div class="link-container">
  <a  th:href="@{/client/index}" class="more-link">Quay lại trang chủ</a>
</div>
    
</body>
</html>