<!DOCTYPE html>
<html lang="en" th:replace="~{/layout/layout.html :: dynamic(~{::title},~{:: main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite</title>
</head>
<body>

   
    <!-- Main -->
    <main class=" mb-5  ">
      <!-- Start Slider -->
    <div id="slides-shop" >
    </div>
    <!-- End Slider -->
        <!-- List -->
        <section class="mt-5 mx-2">
          <div class="row mx-4" style="width: 1447.2px;">
  
            <div class="col-lg-12 p-3 mb-1 rounded-top " style=" background-color: #ffffff; ">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div type="title" color="textTitle" class="title css-1x5ixzd">Danh sách yêu thích của bạn</div>
                </div>
               
              </div>
            </div>
            <div class="col-lg-12 ">
              <div class="row" style="background-color: #ffffff; ">
  
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Acer-Nitro-5-AN515-i5-11400H-8.jpg&w=300&zc=1s"
                          class="card-img-top" alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show ">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/08/Dell-G15-5511-2.jpg&w=300&zc=1"
                          class="card-img-top " alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2023/04/Lenovo-Legion-5-15ARH7-1.jpg&w=300&zc=1"
                          class="card-img-top " alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/09/Asus-ROG-Strix-G513RM-6.jpg&w=300&zc=1"
                          class="card-img-top " alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/09/Asus-TUF-Gaming-FX506HEB-2.jpg&w=300&zc=1"
                          class="card-img-top " alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/09/Asus-ROG-Strix-G513RW-2.jpg&w=300&zc=1"
                          class="card-img-top " alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2023/03/Laptop-MSI-GF63-10SC-2.jpg&w=300&zc=1"
                          class="card-img-top " alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Acer-Nitro-5-AN515-i5-11400H-8.jpg&w=300&zc=1"
                          class="card-img-top" alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Acer-Nitro-5-AN515-i5-11400H-8.jpg&w=300&zc=1"
                          class="card-img-top" alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Acer-Nitro-5-AN515-i5-11400H-8.jpg&w=300&zc=1"
                          class="card-img-top" alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Acer-Nitro-5-AN515-i5-11400H-8.jpg&w=300&zc=1"
                          class="card-img-top" alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
                  <div class="card text-black">
                    <div class="position-relative">
  
                      <a href="#" class="image-container"><img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Acer-Nitro-5-AN515-i5-11400H-8.jpg&w=300&zc=1"
                          class="card-img-top" alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
  
                    </div>
                    <div class="card-body mt-1">
                      <div class="text-center">
                        <a href="#" data-toggle="modal" data-target="#a1">
                          <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                            title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                      [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                            [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                            165Hz)
                          </p>
                        </a>
                      </div>
                      <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                        <div class="box-info__box-price mx-5">
                          <p class="product__price--show">
                            26.490.000₫
                          </p>
                          <p class="product__price--through">
                            30.400.000₫
                          </p>
                          <div class="product__price--percent">
                            <p class="product__price--percent-detail">
                              Giảm&nbsp;13%
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- pagination -->
              <div class="row mt-5 ">
                <div class="col-lg-12 bg-ffffff mx-auto pt-3">
                  <ul class="pagination pagination-info d-flex justify-content-center">
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">...</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">6</a></li>
                    <li class="active page-item"><a href="#" class="page-link">7</a></li>
                    <li class="page-item"><a href="#" class="page-link">8</a></li>
                    <li class="page-item"><a href="#" class="page-link">9</a></li>
                    <li class="page-item"><a href="#" class="page-link">...</a></li>
                    <li class="page-item"><a href="#" class="page-link">12</a></li>
                  </ul>
                </div>
              </div>
            </div>
  
          </div>
        </section>
        <!-- List -->
         <!-- Model chi tiết sản phẩm  -->
      <!-- Model chi tiết sản phẩm  -->
      <div class="modal" id="a1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="quickview_body">
                <div class="container">
                  <div class="row">

                    <div class="col-12 col-lg-5">
                      <div class="col-lg-12 ">
                        <div class="quickview_pro_img ">
                          <img src="../karl-master/img/product-img/product-10.jpg" alt="">
                        </div>
                      </div>
                      <div class="col-lg-12 mt-4 ">
                        <button type="submit" name="addtocart" value="5" class="button btnred add-to-cartProduct">Mua
                          ngay</button>
                      </div>
                    </div>
                    <!--  -->
                    <div class="col-12 col-lg-7">

                      <div class="row quickview_pro_des">
                        <div class="col-lg-12 " style="position: relative;">
                          <span aria-hidden="true" class="close ml-auto text-right" data-dismiss="modal"
                            aria-label="Close"><i class="fas fa-xmark"></i></span>
                        </div>
                        <div class="col-lg-12 ">
                          <h4 class="title title_text_t" data-toggle="tooltip" title="">[New 100%] Lenovo Legion 5 Pro
                            Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz) [New 100%] Lenovo Legion 5
                            Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz) [New 100%] Lenovo
                            Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                          </h4>
                        </div>
                        <div class="col-lg-12 mb-2 ">
                          <span class="status">Trạng thái: </span>
                          <span class="status-title">còn hàng</span>
                        </div>
                        <div class="col-lg-12 mb-2 ">
                          <span class="pro-title">Giá:</span>
                          <span class="pro-price">9,690,000₫</span>
                        </div>

                        <div class="col-lg-12 d-flex mb-3">
                          <span class="quantity-title align-self-center">Số lượng:</span>
                          <div class="quantity">
                            <div class="d-flex align-items-center">
                              <span class="qty-minus "
                                onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty > 1 ) effect.value--;return false;">
                                <i class="fa fa-minus " aria-hidden="true"></i>
                              </span>
                              <input type="number" class="qty-text " id="qty" step="1" min="1" max="12" name="quantity"
                                value="1" readonly>
                              <span class="qty-plus"
                                onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty < 12 ) effect.value++;return false;">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-12 d-flex">
                          <div class="col-lg-3">
                            <span class="mota">Mô tả:</span>
                          </div>
                          <div class="col-lg-9 custom-scrollbar overflow">
                            <p>Mô tả sản phẩm của bạ vượt quá kích thước của khung. Với thanh cuộn, bạn có thể kéo xuống để
                              xem toàn bộ mô tả sản phẩm của mình.</p>
                          </div>
                        </div>

                        <div class="col-lg-12 mt-3 ">
                          <span class="favorite-title">Yêu thích:</span>
                          <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                          <span class="favorite-icon"><i class="fas fa-heart-crack"></i></span>
                        </div>

                        <div class="col-lg-12 mt-3">
                          <button type="submit" class="button-cart slide">Thêm vào giỏ hàng</button>
                        </div>


                      </div>

                    </div>
                    <!-- Add to Cart Form -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Model chi tiết sản phẩm  -->
      <!-- Model chi tiết sản phẩm  -->
  
    </main>
    <!-- Main -->

</body>
</html>