<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(title,view)" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Document</title>
    <th:block th:include="layout/library/css-links.html"></th:block>

    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('contact')}">
        <link rel="stylesheet" th:href="@{/assets/css/contact.css}">
    </th:block>

    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('about')}">
        <link rel="stylesheet" th:href="@{/assets/css/about.css}">
    </th:block>

    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('profile')}">
        <link rel="stylesheet" th:href="@{/assets/css/profile.css}">
    </th:block>

    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('account')}">
        <link rel="stylesheet" th:href="@{/assets/css/form.css}">
    </th:block>

    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('cart')}">
        <link rel="stylesheet" th:href="@{/assets/css/cart.css}">
        <link rel="stylesheet" th:href="@{/assets/css/checkout.css}">
    </th:block>

    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('cart')}">
        <link rel="stylesheet" th:href="@{/assets/css/cart.css}">
    </th:block>
        <!-- Đảm bảo rằng bạn đã bao gồm thư viện Swal -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
</head>
<body ng-app="app">


    
    
    <nav  th:insert="~{layout/_header.html:: header}"></nav>

    <main th:replace="${view}"></main>

    <footer th:insert="~{/layout/_footer.html:: footer}"></footer>

    <script  th:src="@{/assets/js/angularjs/header.js}"></script>

    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('index') || #ctx.springRequestContext.requestUri.contains('cart')}">
        <script  th:src="@{/assets/js/angularjs/index.js}"></script>
    </th:block>
    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('ListCategory')}">
        <script  th:src="@{/assets/js/angularjs/index.js}"></script>
    </th:block>
    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('/account/login')}">
        <script  th:src="@{/assets/js/angularjs/index.js}"></script>
    </th:block>
    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('favorite')}">
        <script  th:src="@{/assets/js/angularjs/index.js}"></script>
    </th:block>
    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('sign-up')}">
        <script th:src="@{/assets/js/angularjs/sign-up.js}"></script>
    </th:block>
    <th:block th:if="${#ctx.springRequestContext.requestUri.contains('profile')}">
        <script th:src="@{/assets/js/angularjs/profile.js}"></script>
    </th:block>

    <th:block th:include="layout/library/script-links.html"></th:block>


</body>
</html>