<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout.html :: admin(~{::title},~{:: .content-page}) }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPU</title>
</head>

<body>
    <div th:attr="ng-controller=${#ctx.springRequestContext.requestUri.contains('create') ? 'create' : 'update'}" class="content-page">
        <div class="page-header d-flex justify-content-between align-items-center">
            <ul class="page-info">
                <li class=" page-title">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Tạo CPU' :'Cập nhật CPU']]</li>
                <li class=" page-description">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Thêm CPU mới' :'Thay đổi thông tin CPU xuất']]</li>
            </ul>
            <!-- <a href="#" class="btn btn-added">
                <i class="fa-solid fa-plus"></i>
                Thêm sản phẩm
            </a> -->s
        </div>
        <div class="card">
            <div class="card-body page-body">

                <form action="">
                    <div class="row">
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="product-name" class="form-label">Tên CPU</label>
                            <input type="text" ng-model="form.name" class="form-control" id="product-name">
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Số nhân</label>
                            <input ng-model="form.cores" type="text" class="form-control" id="cores">
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Số luồng</label>
                            <input ng-model="form.threads" type="text" class="form-control" id="threads">
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Loại CPU</label>
                            <input ng-model="form.socket" type="text" class="form-control" id="socket">
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Clock Speed (Xung nhịp cơ bản)</label>
                            <input ng-model="form.clockSpeed" type="text" class="form-control" id="clockSpeed">
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Turbo speed (Xung nhịp tối đa)</label>
                            <input ng-model="form.turboSpeed" type="text" class="form-control" id="turboSpeed">
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Cache </label>
                            <input ng-model="form.cache" type="text" class="form-control" id="cache">
                        </div>
                        <div class="mb-4 col-lg-4  form-group">
                            <label for="" class="form-label">Manufacturer </label>
                            <input ng-model="form.manufacturer" type="text" class="form-control" id="manufacturer">
                        </div>
                      
                    </div>
                        <div class="mb-4 col-lg-12 ">
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('create')}" class="btn btn-submit me-2" ng-click="create()">Lưu</a>
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('update')}" class="btn btn-submit me-2" ng-click="update(form.id)">Cập nhật</a>
                                <a href="" th:if="${#ctx.springRequestContext.requestUri.contains('update')}" class="btn btn-remove me-2" ng-click="delete(form.id)">Xoá</a>
                                <a th:href="@{/admin/cpu/list}" class="btn btn-cancel" >Huỷ bỏ</a>
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>