<header id="header">
  <div class="row m-0" style="height: 60px !important;">
    <div class="header-left col-2 ps-3 pe-0  ">aa</div>
    <div class="header-right col-10 ps-0 pe-3 ">
        <div class="row h-100 m-0">
          <div class="header-menu menu-left col-lg-8 text-uppercase">administration</div>
          <div class="header-menu menu-right col-lg-4 pe-0" >
              <nav class="navbar navbar-expand-lg bg-white ms-auto me-0">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav menu-user d-flex align-items-center">
                       <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa-solid fa-globe"></i>
                        </a>
                        <ul class="dropdown-menu " style="margin-top: 10px;">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-bell"></i></a>
                      </li> -->
                      <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle menu-user-info d-flex justify-content-between arrow-after" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <div class="user-avt">
                            <img src="" alt="">
                          </div>
                          <ul class="list-info">
                            <li class="user-info user-name">Name</li>
                            <li class="user-info user-role">Role</li>
                          </ul>
                        </a>
                        <ul class="dropdown-menu"  style="margin-top: 7px;">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
          </div>
        </div>
    </div>
  </div>
</header>