@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    --border-header: #DEE2E6;
    --mau-border: #DEE2E6;
    --mau-icon: #67748E;

    --mau-dong-bo:#CA2F2F;

    /* Màu chữ */
    --mau-chu-sidebar:#FE9F43;
    --mau-chu-mac-dinh-sidebar :#67748E;
  
    /* Button */
    --mau-btn-xoa :#c82333;
    --mau-list__btn:#F6F7F8;
    --mau-btn-cap-nhat :#28a745;
    --mau-chu-btn-hover: #212529;
    --mau-btn-thong-tin: #006adb;
    --mau-btn-active: rgba(254, 159, 67, 0.08);
    /* backgroud */
    --mau-bg-hover-tr: #f5f5f5;
    --mau-bg-header-table:#FAFBFE;
}
body {
    font-family: 'Quicksand', sans-serif;
}

/* Header */
.title-page {
    font-weight: 600;
    text-decoration: none;
    color: #1B2950;
    font-size: 20px;
}
#header {
    background-color: #fff;
    border-bottom: 1px solid var(--border-header);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}   

.header-left {
    border-right: 1px solid var(--border-header);
}
.header-right .user-menu .nav-item{
    margin-left: 18px;
    height: 100%;
}
.header-menu {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-menu.menu-left {
    padding-left: 20px ;
}
.header-menu .menu-user .nav-item {
    margin-left: 18px;
}
.hidden-after::after {
    display: none;
}
.header-menu .menu-user .nav-item .nav-link {
    padding: 0;
    display: flex;
    line-height: normal;
    color: #212B36;
    background: #F6F7F8;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-menu .menu-user .nav-link::after {
    display: none;
}
.header-menu .menu-user .arrow-after::after {
    display: inline-block;
}
.header-menu .menu-user .menu-user-info {
    width: 160px !important;
    background-color: #ffffff !important;
    height: 100% !important   ;
}
.menu-user-info .user-avt {
    width: 42px;
    height: 42px;
    background-color: #DEE2E6;
}
.menu-user-info .list-info {
    list-style-type: none;
    padding-left: 0px;
    min-width: 102px;
}

.menu-user-info .user-info.user-name {
    font-size: 15px;
    font-weight: 600;
    color: #1B2950;
    display: flex;
    align-items: center;
}
.menu-user-info .user-info.user-role {
    display: block;
    color: #67748E;
    font-size: 12px;
}
.menu-user-info .list-info {
    list-style-type: none;
    padding-left: 8px;
}


/*  Sidebar */
#content {
    padding: 58px 0px 0px 0px;
    height: 100%;
}
#content aside, #content article {
   
    min-height: 100vh;
}
#content aside {
    padding: 10px 15px 10px 10px;
    background-color: transparent;
    border-right: 1px solid transparent;
    margin-top: 0;
    z-index: 1001;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-right: 1px solid #E8EBED;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 5px; 
    position: sticky;
    top: 0;
}
  
::-webkit-scrollbar-track {
    background: #dddddd; 
  }
::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 4px;
} 


#content article {
    margin: 0 0 0 255px;
    padding: 60px 0 0;
    position: relative;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 20px;
    /* box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: -12px -8px 40px rgba(62, 62, 62, 0.12) inset;
}
#sidebar-menu .sidebar-menu__submenu {
    padding-left: 0px;
    list-style-type: none;
}
.sidebar {
    background-color: transparent;
    border-right: 1px solid transparent;
    margin-top: 0;
    /* z-index: 1001; */
    position: fixed;
    /* top: 60px; */
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-right: 1px solid #E8EBED;
    width: 260px;

}
#sidebar-menu .submenu-hdr {
    font-weight: 500;
    font-size: 14px;
    color: #1B2950;
    margin: 15px 0 0;
}
#sidebar-menu .submenu-open  .accordion {
    border-bottom: 1px solid rgba(222, 226, 230, 0.5);
    padding: 10px 0;
    display: block;
}
.form-input  .accordion {
    border-bottom: none;
    padding: 10px 0;
    display: block;
}

.submenu-open .submenu-group .nav-link{
    font-weight: 500;
    font-size: 16px;
    color: var(--mau-chu-mac-dinh-sidebar);
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    width: 100%;
    transition: all 0.2s ease;
}
.submenu-open .submenu-group .nav-link .bi {
    margin-right: 10px;
}
.submenu-open .submenu-group .nav-link.submenu-nav-link:hover {
    color: var(--mau-chu-sidebar);
    transform: translateX(8px);
    background-color: var(--mau-btn-active);
}

.submenu-open .submenu-group .nav-pills,
.form-input  .accordion .nav-pills {
    width: 100%;
}
.submenu-open .nav-pills .nav-link.active,
.form-input  .accordion .nav-pills .nav-link.active {
    background-color:  var(--mau-btn-active);
    color: var(--mau-chu-sidebar);  
}
.submenu-open  .accordion .accordion-item,
.form-input  .accordion .accordion-item {
    border: none;
}
.form-input  .accordion .accordion-item .accordion-body{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    padding-left:5px ;
    padding-right:5px ;
}
.submenu-open  .accordion .accordion-item .accordion-button
{
    font-weight: 500;
    font-size: 16px;
    color: #67748E;
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: none;
}
.form-input  .accordion .accordion-item .accordion-button {
    font-weight: 500;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #67748E;
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: none;
}
.submenu-open  .accordion-item .accordion-button:hover, 
.submenu-open .submenu-group .nav-link:hover,
.form-input  .accordion-item .accordion-button:hover
{
    color: var(--mau-chu-sidebar) !important;
    
}
.submenu-open  .accordion-item .accordion-button:focus,
.form-input  .accordion-item .accordion-button:focus {
    box-shadow: none;
}
.submenu-open  .accordion-item .accordion-button:not(.collapsed)
 {
    background: var(--mau-btn-active);
    box-shadow: none;
    color: var(--mau-chu-sidebar) !important;
}
.form-input  .accordion-item .accordion-button:not(.collapsed)
 {
    background-color: #f7f7f7;
    box-shadow: none;
    color: #67748E!important;
}
/* /Side bar */

/* Css index */
.content-admin-index {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border-radius: 30px;
    background-color: #67748E;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.content-page .page-body {
    min-height: 500px;
}
.page-header , .table-top{
    margin-bottom: 25px;
}
/* Hình ảnh form */
.img-box {
    position: relative;
    height: 176.4px;
    border-radius: 5px;
    border: #888888 solid 1px;
}



.label-choice-img{
	height: 100%;
	width: 100%;
    font-weight: 600;
    font-size: 14px;
}
.img-box img{
    border-radius: 5px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}
.img-box .img-remove {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 26px;
}
.img-box .img-remove a {
    color: #ee2b3e;
    
}
.img-box .img-remove i {
 
    background-color: #fff;
}
.img-box .img-remove:hover a{
    color: #dc293b;;
}

.add-img {
    border-radius: 5px;
    height: 176.4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #b7b7b7 dashed 2px;
    color:  #b7b7b7;
    text-decoration: none;
}
.add-img i {
    position: absolute;
    font-size: 40px;
}
.add-img input[type=file] {
    width: 100%;
    opacity: 0;
    height: 100px;
    position: relative;
    z-index: 9;
    cursor: pointer;
}
.add-img:hover {
    border: #545454 dashed 2px;
    color: #545454;
}
/* /Hình ảnh form */
.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Đảm bảo hiển thị trên cùng */
  }
.page-header .btn-added {
    background: #FF9F43;
    padding: 7px 15px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
.page-header .page-info  {
    list-style-type: none;
    padding-left: 0px;
}
.page-header .page-info .page-title {
    font-weight: 700;
    color: #212B36;
    font-size: 18px;
}
.page-header .page-info .page-description {
    font-size: 14px;
    color: #555;
    font-weight: 400;
}


/* /Table */
.search-input {
     position: relative;
}
.search-input .btn-searchset {
    padding: 2px;
    border-radius: 50px;
    position: absolute;
    top: 1px;
    left: -3px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 .search-input input[type=search] {
    background: transparent;
    height: 40px;
    border: 1px solid rgba(145, 158, 171, 0.32);
    width: 200px;
    border-radius: 5px;
    padding: 0 15px 0 35px;
    font-size: .875rem;
}
.search-input  .form-control:focus {
        outline: 0;
        box-shadow: none;
}
.search-set .btn-filter:hover {
    background: #1B2850;
    color: white;
}
.search-set .btn-filter {
    background: #FF9F43;
    width: 40px;
    height: 40px;
    
    padding: 0;
    font-size: 20px;
    margin-right: 10px;
}
.search-set .btn-filter:hover,.form-filter .btn-filter-submit:hover{
    background: #1B2850;
    color: white;
}
.form-filter .btn-filter-submit {
    background: #FF9F43;
    width: 100px;
    color: #fff;
    font-size: 16px ;
    height: 37.6px;
    padding: 0;
}
 .wordset ul{
    list-style-type: none;
    font-size: 20px;
    margin: 0px;
    padding-left: 0px;
}
 .wordset ul>li {
    padding: 0px 0px 0px 15px;
    display: inline-block;
}

.table .tb-header{
    border-bottom: 1px solid #E9ECEF;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.table th {
    position: relative;
}
.table th::after {
    position: absolute;
    right: 0.5em;
    content: "\f0dc";
    font-family: "Font Awesome 6 free";
    top: 14px;
    color: #BABFC7;
    font-size: 12px;
    opacity: 1;
    bottom: 0.9em;
    display: block;
}
.table tr td {
    padding: 15px;
    color: #637381;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #E9ECEF;
    vertical-align: middle;
    white-space: nowrap;
}
.table thead th {
    font-weight: 600;
    color: #212B36;
    padding: 10px;
    white-space: nowrap;
}

.table .td-action .btn {
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    border-radius: 0;
    letter-spacing: .05rem;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;

}
.table .td-action .btn:hover span{
    color: var(--mau-chu-btn-hover) !important;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    font-weight: bold;
    z-index: 5;
}
.table .td-action .btn:hover {
    color: #fff;
}
.table .td-action .action__btn-success:hover{
    background-color: var(--mau-btn-cap-nhat);
    border-color:var(--mau-btn-cap-nhat);

}
.table .td-action .btn:hover:before {
    width: calc(100% - 2px);
    color: var(--mau-chu-btn-hover);
}
.table-responsive ,.list-price    {
    overflow-y: auto;

}
.table-responsive {
    max-height: 400px; 
}
.list-price  
{
    overflow-x: hidden;
    max-height: 500px; 
    padding: 10px 10px;
    margin-bottom: 20px;
}

.table-responsive table thead th {
    position: sticky;
    top: 0px;
   
}


.table .td-action .btn:before {
    position: absolute;
    content: "";
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    overflow: hidden;
    width: 0;
    z-index: 1;
    background: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.table .td-action .action__btn-success{
    background-color: var(--mau-btn-cap-nhat);
}
.table  .td-action .action__btn-danger{
    background-color: var(--mau-btn-xoa);
}
.table  .td-action .action__btn-info{
    background-color: var(--mau-btn-thong-tin);
}
.badges {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    min-width: 80px;
}
.badges.bg-lightgreen {
    background: #28C76F;
}
.badges.bg-lightred {
    background: #EA5455;
}
.badges.bg-lightyellow {
    background: #FF9900;
}
/* /Table */
/* pagination */
.pagination .page-item>a {
    color: #555;
}
.pagination-info {
    font-weight: 500;
    font-size: 13px;
}
/* /pagination */

/* FORM */

.form-group input[type=text]:focus,
.form-group textarea:focus,
.form-group .form-select:focus
,.form-group input[list]:focus
,.form-group input[type=date]:focus
,.form-group input[type=time]:focus {
    border-color: #FF9F43;
    background: #fff;
    box-shadow: none;
}

.form-group .form-label {
    margin-bottom: 8px;
    color: #212B36;
    font-weight: 600;
    font-size: 14px ;
    display: block;
}
.image-upload {
    border: 1px solid rgba(145, 158, 171, 0.32);
    position: relative;
    margin-bottom: 35px;
    border-radius: 5px;
}
.image-upload input[type=file] {
    width: 100%;
    opacity: 0;
    height: 100px;
    position: relative;
    z-index: 9;
    cursor: pointer;
}
.image-upload .image-uploads {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-radius: 5px;
    position: absolute;
    top: 0;
}
.image-upload .image-uploads .icon-upload {
    font-size: 25px;
    color: #FE9F43;
}
.image-upload .image-uploads h4 {
    font-size: 14px;
    font-weight: 500;
    color: #212B36;
}
.btn-remove {
    min-width: 120px;
    background: #ff3030;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 10px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.btn-remove:hover {
    background: #dc2828;
    color: #fff;
}
.btn-submit {
    min-width: 120px;
    background: #FF9F43;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 10px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.btn-submit:hover {
    background: #fe820e;
    color: #fff;
}
.btn-cancel {
    min-width: 120px;
    background: #637381;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 10px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn-cancel:hover {
    background: #424b52;
    color: #fff;
}




/* /FORM */



.reduce-td{
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    min-width: 120px;
    max-width: 120px;
}
.tb-header th{
    cursor: pointer;
}

.file-input {
    /* Đảm bảo input bị ẩn đi */
    display: none;
  }
  .file-label {
    /* Thiết lập icon để làm label cho input */
    cursor: pointer; /* Biến con trỏ chuột thành bàn tay khi hover vào icon */
  }
  .file-label i {
    /* Thiết lập icon cho label */
    width: 15px;
    height: 20px;
    color: #28a745; /* Màu của icon (vd: màu xanh lá cây) */
    /* Có thể thay đổi mã màu để phù hợp với icon của bạn */
  }
  
.table-row-added {
	background-color: #637381;
}
  .modal-header .file-label:not(:last-child) {
    margin-right: 90px;
}
