<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout.html :: admin(~{::title},~{:: .content-page}) }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <div class="content-page" ng-controller="list">
        <div class="page-header d-flex justify-content-between align-items-center">
            <ul class="page-info">
                <li class=" page-title">Danh sách sản phẩm</li>
                <li class=" page-description">Thông tin sản phẩm   </li>
            </ul>
            <a th:href="@{/admin/product/create}" class="btn btn-added">
                <i class="fa-solid fa-plus"></i>
                Thêm sản phẩm
            </a>
        </div>
            <div class="card">
                <div class="card-body page-body" > 
                    <div class="table-top d-flex justify-content-between align-items-center">
                        <div class="search-input">
                            <div class="btn-searchset">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                   <a href="" class="text-danger"><i class="fa-solid fa-file-pdf"></i></a>
                                </li>
                                <li>
                                    <a href="" class="text-success"><i class="fa-solid fa-file-excel"></i></a>
                                </li>
                                <li>
                                    <a href="" class="text-secondary"><i class="fa-solid fa-print"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-center">
                        <div class="loading-page"  ng-if="isLoading">
                            <div class="spinner-border text-warning "  role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="table-responsive" ng-if="!isLoading">
                            <table class="table table-hover">
                              <thead>
                                <tr class="tb-header">
                                  <th scope="col">Tên sản phẩm</th>
                                  <th scope="col">Số lượng</th>
                                  <th scope="col">Nhà sản xuất</th>
                                  <th scope="col">Danh mục</th>
                                  <th scope="col">Mô tả</th>
                                  <th scope="col">Ngày tạo</th>
                                  <th scope="col">Ngày tạo</th>
                                  <th scope="col">Thao tác</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="" ng-repeat="item in items">
                                  <td>{{item.name}}</td>
                                  <td>{{item.quantity}}</td>
                                  <td>{{item.brand.name}}</td>
                                  <td>{{item.category.name}}</td>
                                  <td class="reduce-td">{{item.description}}</td>
                                  <td  ng-if="item.status == 1">Còn hàng</td>
                                  <td  ng-if="item.status == 2">Hết hàng</td>
                                  <td  ng-if="item.status == 3">Ngừng kinh doành</td>
                                  <td>{{item.createDate}}</td>
                                  <td class="td-action ">
                                     <div class="wordset">
                                        <ul>
                                            <li>
                                                <a  ng-click="edit(item.id  )" class="text-secondary-emphasis"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </li>
                                            <li>
                                                <a href="" ng-click="delete(item.id)" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          
                    </div>
                    <div class="table-bottom d-flex justify-content-end align-items-center pt-4">
                        <span class="pagination-info me-2">1 - 10 of <span >11</span> items</span>
                        <nav aria-label="Page navigation " >
                            <ul class="pagination mb-0">
                              <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-backward-step"></i></a></li>
                              <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-backward"></i></a></li>
                              <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-forward"></i></a></li>
                              <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-forward-step"></i></a></li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>