<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/admin/layout/layout.html :: admin(~{::title},~{:: .content-page}) }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <div ></div>
    <div class="content-page" ng-controller="form"
        >

        <div class="page-header d-flex justify-content-between align-items-center">
            <ul class="page-info">
                <li class=" page-title">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Tạo sản phẩm'
                    :'Cập nhật sản phẩm']]</li>
                <li class=" page-description">[[${#ctx.springRequestContext.requestUri.contains('create')} ? 'Thêm sản
                    phẩm mới' :'Thay đổi thông tin sản phẩm']]</li>
            </ul>
            <!-- <a href="#" class="btn btn-added">
                    <i class="fa-solid fa-plus"></i>
                    Thêm sản phẩm
                </a> -->
        </div>
        <div class="card">
            <div class="card-body page-body">
                <div class="loading-page" ng-if="isLoading" ng-cloak>
                    <div class="spinner-border text-warning" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                
                <form action="" name="myForm" ng-cloak class="form-input" ng-if="!isLoading ">
                    <div class="row">
                        <div class="mb-4 col-lg-3 form-group d-none" >
                            <!-- <input type="hidden" class="form-control" ng-model="form.id"  id=""> -->
                        </div>
                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control"  name="productName" ng-model="form.name" id="" required>
                            <span ng-show="messageError.nameProd != null" ng-cloak class="small text-danger">{{messageError.nameProd }}</span>
                        </div>
                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Số lượng</label>
                            <input type="number" class="form-control" id="" name="quantity" ng-model="form.quantity" required>
                            <span ng-show="messageError.quantity != null" ng-cloak class="small text-danger">{{messageError.quantity }}</span>
                        </div>
                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Danh mục</label>
                            <select class="form-select" ng-model="form.category" ng-options="cat.name for cat in optionsCat track by cat.id">
                            </select>
                        </div>

                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">CPU</label>
                            <select class="form-select" ng-model="form.cpu" ng-options="cpu.name for cpu in optionsCPU  track by cpu.id">
                                <!-- <option selected>Chọn CPU</option> -->

                            </select>
                        </div>

                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">RAM</label>
                            <select class="form-select" ng-model="form.ram" ng-options="ram.name for ram in optionsRAM track by ram.id">
                            </select>
                        </div>

                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Bộ nhớ</label>
                            <select class="form-select" ng-model="form.storage"
                                ng-options="storage.capacity for storage in optionsStorage track by storage.id">
                            </select>
                        </div>

                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Màn hình</label>
                            <select class="form-select" ng-model="form.screenSize"
                                ng-options="screenSize.size for screenSize in optionsScreen  track by screenSize.id">

                            </select>
                        </div>

                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Card đồ hoạ</label>
                            <select class="form-select" ng-model="form.graphicsCard"
                                ng-options="graphicsCard.name for graphicsCard in optionsGraph track by graphicsCard.id">
                            </select>
                        </div>
                        
                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Hệ điều hành</label>
                            <select class="form-select" ng-model="form.operatingSystem"
                                ng-options="operatingSystem.name for operatingSystem in optionsOS track by operatingSystem.id">
                            </select>
                        </div>

                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Nhà sản xuất</label>
                            <select class="form-select" ng-model="form.brand"
                                ng-options="brand.name for brand in optionsBrand  track by brand.id">
                            </select>
                        </div>
                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Trạng thái</label>
                            <select class="form-select" ng-model="form.status" ng-options="option.id as option.name for option in optionsStatus" >

                            </select>
                        </div>
                        <div class="mb-4 col-lg-3 form-group">
                            <label for="" class="form-label">Ngày tạo</label>
                            <input type="date" ng-model="form.createDate" readonly  class="form-control" id="">
                           
                        </div>
                        <div class="mb-4 col-lg-12 form-group">
                            <label for="prod-desciption" class="form-label">Mô tả</label>
                            <textarea class="form-control" ng-model="form.description" id="prod-desciption"
                                rows="3"></textarea>
                        </div>
                        <div class=" col-lg-12 form-group">
                          
                            <div class="accordion " id="price-product-tab">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed active" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        <label for="" class="form-label">Giá sản phẩm</label>
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne" class="accordion-collapse collapse " ng-class="{'show' : messageError.price != null }" aria-labelledby="flush-headingOne" data-bs-parent="#price-product-tab">
                                    <div class="accordion-body">
                                        <div class=" list-price">
                                            <div class="row" ng-if="isEdit" >
                                                <div class="table-responsive" ng-if="!isLoading">
                                                    <table class="table table-hover">
                                                      <thead>
                                                        <tr class="tb-header">
                                                          <th scope="col">Giá</th>
                                                          <th scope="col">Ngày áp dụng</th>
                                                          <th scope="col">Ngày kết thúc</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <tr class="table-row-added" ng-repeat="p in listPriceProduct " >
                                                          <td>{{p.price}}</td>
                                                          <td> {{p.startDate  | date:'dd/MM/yyyy  HH:mm:ss' }}</td>
                                                          <td> {{p.endDate == null?'Còn áp dụng':p.endDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </div>
                                            </div>
                                            <div class="row" ng-repeat="p in priceForms ">
                                                <div class="mb-4 col-lg-3 form-group">
                                                    <label for="" class="form-label">Giá </label>
                                                    <input type="text" class="form-control" placeholder="Nhập giá (VND)" ng-model="p.price" id="">
                                                    
                                                </div>
                                                <div class="mb-4 col-lg-3 form-group">
                                                    <label for="" class="form-label">Ngày áp dụng</label>
                                                    <input type="date"   class="form-control"  ng-model="p.startDate"  id="">
                                                    
                                                </div>
                                                <input type="date"   class="form-control d-none"  ng-model="p.endDate"  id="">
                                                <!-- <div class="mb-4 col-lg-3 form-group">
                                                    <label for="" class="form-label">Ngày kết thúc</label>
                                                </div> -->
                                                <div class="mb-4 col-lg-3 form-group d-flex" ng-if="isEdit">
                                                    <a href=""class="btn btn-danger me-2 mt-auto mb-0" ng-click="removePriceForm($index)" >
                                                        <i class="fa-solid fa-trash-can"></i>
                                                   </a>
                                                </div>
                                                
                                            </div>
                                            <span ng-show="messageError.price != null" ng-cloak class="small text-danger">{{messageError.price }}</span>
                                            <span ng-show="messageError.createDate != null" ng-cloak class="small text-danger" style="margin-left: 100px;">{{messageError.createDate }}</span>
                                        </div>
                                        <div class="mb-4 col-lg-12" style="padding-left:  12px;" ng-if="isEdit && priceForms.length < 1">
                                            <a href=""class="btn btn-outline-secondary me-2"  ng-click="addPriceForm()" >
                                                 <i class="fa-solid fa-plus"></i> Thêm giá mới
                                            </a>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                        </div>
                        
                        <div class="mb-4 col-lg-12 form-group">
                            <label for="prod-desciption" class="form-label">Hình ảnh </label>
                            <!--<div class="form-check form-switch my-2 " ng-show="isEdit">
							  <input class="form-check-input" type="checkbox" ng-model="isEditImg" id="edit-img">
							  <label class="form-check-label" for="edit-img">Chỉnh sửa ảnh</label>
							</div>-->
                            <div class="row" >
                                <div class="mb-4 col-lg-2 " ng-cloak ng-repeat="filename in filenames">
                                    <div class="img-box " >
                                        <div class="img-remove" >
                                           <a href="" ng-click="removeImg(filename)"><i class="fa-solid fa-circle-xmark"></i></a> 
                                        </div>
                                            <img ng-src="{{urlImg(filename)}}" alt="">
                                    </div>
                                    
                                </div>  
                                <div class="mb-4 col-lg-2 " ng-hide="filenames.length > 4 ">
                                    <label class="add-img" >
                                        <input type="file" accept="image/*"  multiple
                                        onchange="angular.element(this).scope().upload(this.files)">
                                        <i class="fa-sharp fa-solid fa-plus"></i>
                                    </label>
                                </div>  
                            </div>
                            <span ng-show="messageError.image != null" ng-cloak class="small text-danger">{{messageError.image }}</span>
                        </div>
                   
                        <div class="mb-4 col-lg-12 ">
                            <a href="" ng-if="!isEdit "  
                                class="btn btn-submit me-2"  ng-click="create()">Lưu</a>
                            <a href="" ng-if="isEdit"
                                class="btn btn-submit me-2" ng-cloak  ng-click="update()">Cập nhật</a>
                            <a href="" ng-if="isEdit"
                                class="btn btn-remove me-2"ng-cloak  ng-click="delete(form.id)">Xoá</a>
                            <a th:href="@{/admin/product/list}" class="btn btn-cancel">Huỷ bỏ</a>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    
</body>

</html>