<!DOCTYPE html>
<html lang="en"xmlns="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::title},~{:: .wrapp})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <div class="wrapp" ng-controller="checkout">
    <div class="container checkout-area ">
        <div class="row">
            <div class="woocommerce-info-top col-lg-12">
                <div class="message-container">
                    Bạn đã có tài khoản ?
                    <a href="">Ấn vào để đăng nhập</a>
                </div>
                <div class="message-container">
                    Bạn đã đã có mã ưu đãi ?
                    <a  data-bs-toggle="collapse" href="#coupon" role="button" aria-expanded="false" aria-controls="coupon">
                        Ấn vào đây để nhập mã
                    </a>
                </div>
            </div>
            <div class="collapse" id="coupon">
                <div class="card card-body">
                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
              </div>
              <form action=""class="form-checkout">
                <div class="row">
                    <div class="customer-details col-lg-7">
                        <div class="card">
                            <div class="card-body page-body">
                                    <h3 class="checkout-title">THÔNG TIN THANH TOÁN</h3>
                                    <div class="mb-4 col-lg-12 form-group">
                                        <label for="" class="form-label">Họ và tên *</label>
                                        <input type="text" class="form-control" id="">
                                    </div>
                                    <div class="mb-4 col-lg-12 form-group">
                                        <label for="" class="form-label">Email</label>
                                        <input type="text" class="form-control" id="">
                                    </div>
                                    <div class="mb-4 col-lg-12 form-group">
                                        <label for="" class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control" id="">
                                    </div>
                                    <div class="mb-4 col-lg-12 form-group">
                                        <label for="prod-desciption" class="form-label">Địa chỉ</label>
                                        <textarea class="form-control" id="prod-desciption" rows="3"></textarea>
                                    </div>
                                    <h3 class="checkout-title">THÔNG TIN BỔ SUNG</h3>
                                    <div class="mb-4 col-lg-12 form-group">
                                        <label for="prod-desciption" class="form-label">Ghi chú đơn hàng (tuỳ chọn)</label>
                                        <textarea class="form-control" id="prod-desciption" rows="3" placeholder="Ghi chú về đơn hàng, ví dụ: thời gian hay chỉ dẫn địa điểm giao hàng chi tiết hơn."></textarea>
                                    </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="checkout-sidebar col-lg-5">
                        <div class="card">
                            <div class="card-body page-body">
                                <h3 class="checkout-title">ĐƠN HÀNG CỦA BẠN</h3>
                                <div class="table-responsive">
                                    <table class="table shop-table">
                                        <thead>
                                            <tr class="title-table">
                                                <th scope="col" class="title-prod-name  ps-0">Sản phẩm</th>
                                                <th scope="col" class="pe-0">Tạm tính</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row-table">
                                                <td scope="row" class="">Laptop DELL Vostro 3520 V5I3614W1 (i3-1215U | 8GB RAM | 256GB SSD | Intel UHD Graphics | 15.6 Inch FullHD | Win 11+Office)  × 1</td>
                                                <td class="pe-0">22.000.000đ</td>
                                            </tr>
                                           
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th class="ps-0">Tạm tính</th>
                                                <td class="pe-0">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi>22.539.000&nbsp; <span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th class="ps-0">Tổng</th>
                                                <td class="pe-0">
                                                    <strong>
                                                        <span class="woocommerce-Price-amount amount"><bdi>22.539.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></bdi>
                                                    </span></strong> 
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <h3 class="checkout-title">PHƯƠNG THỨC THANH TOÁN</h3>
                                    <ul class="list-payment-method mb-4">
                                        <li class="wc_payment_method">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="payment-method" ng-model="paymentSelect"  ng-value="false" id="payment-method1">
                                                <label class="form-check-label" for="payment-method1"  >
                                                  Thanh toán khi nhận hàng
                                                </label>
                                              </div>
                                        </li>
                                        <li class="wc_payment_method">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="payment-method" ng-model="paymentSelect"  ng-value="true" id="payment-method2">
                                                <label class="form-check-label" for="payment-method2">
                                                  Thanh toán trực tuyến (VNPay)
                                                </label>
                                              </div>
                                              
                                        </li>
                                    </ul>
                                    <div class="collapse my-3" ng-class="{'show' : paymentSelect}" id="onlinePayment">
                                        <div class="card card-body">
                                            <div class="row mx-auto">
                                            <div class="form-check col-3 mx-1">
                                                <input class="form-check-input payment-radio " ng-model="optionBank"  type="radio" ng-value="1"  id="ncb-bank">
                                                <label class="form-check-label payment-label" for="ncb-bank">
                                                    <div class="checkout__box-img-bank ncb-bank">
                                                        <img th:src="@{/assets/image/logo_ncb.png}">
                                                    </div>
                                                </label>
                                            </div>
                                          
                                            <div class="form-check col-3 mx-1">
                                                <input class="form-check-input payment-radio " ng-model="optionBank"  type="radio" ng-value="2"  id="mb-bank">
                                                <label class="form-check-label payment-label" for="mb-bank">
                                                    <div class="checkout__box-img-bank">
                                                        <img th:src="@{/assets/image/logo_mbbank.png}">
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="form-check col-3 mx-1">
                                                <input class="form-check-input payment-radio " ng-model="optionBank"  type="radio" ng-value="3"  id="vtb-bank">
                                                <label class="form-check-label payment-label" for="vtb-bank">
                                                    <div class="checkout__box-img-bank">
                                                        <img th:src="@{/assets/image/logo_vietinbank.png}">
                                                    </div>
                                                </label>
                                            </div>
                                          
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <button  class="btn btn-order">Thanh toán</button>
                                <div class="woocommerce-privacy-policy-text mt-3"><p>Bằng cách nhấp vào Đặt hàng, bạn đồng ý với 
                                    <a href="" class="woocommerce-terms-and-conditions-link" target="_blank">điều khoản và điều kiện</a> và <a href="" class="woocommerce-privacy-policy-link" target="_blank">chính sách riêng tư</a> của chúng tôi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
         
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>