<!DOCTYPE html>
<html lang="en" th:replace="~{/layout/layout::dynamic(~{::title},~{::main})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>

<body>

  <!-- Main -->
  <main class=" mb-5 " ng-controller="index">

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
      <ul class="slides-container">
        <li class="text-left">
          <img
            src="https://lh3.googleusercontent.com/qVJAG-YkzjqlHSWRROBb7i_JnFYgNO8He_8RHM3liyVfUNzyb5QgXsDofYmwuGbke8vVFnc4ZJm4Kipjhy9LuM9IbnmxNcu9=w1920-rw"
            alt="">

        </li>
        <li class="text-center">
          <img
            src="https://lh3.googleusercontent.com/q17V75BbfTy9kJwovZX0dTDMlFUfLI59rAPLlnm71HG9kL-Hc7FblFYK2wXl-bA055LuHBX1wQmArmS6BNA5SVxdtJyDW52-=w1920-rw"
            alt="">
          s
        </li>
        <li class="text-right">
          <img
            src="https://lh3.googleusercontent.com/NEyGqAS4HkBmVGWbdLxRCJ7v4n7Xz-Xcfs6ffoxCNZMHBg0txwJk7L0FVyBvjZ9mwdFsV915-uAWlcX_JPHD1yJSq2EYfeV6=w1920-rw"
            alt="">
        </li>

      </ul>
      <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      </div>
    </div>
    <!-- End Slider -->

    <div th:insert="~{/layout/_categorites.html:: section}"></div>

    <!-- List Multi-item carousel -->
    <section class="mb-5 mt-5 ">
      <div class="row px-5">
        <div class="col-lg-12 p-3 mb-1 rounded-top bg-ffffff ">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div type="title" color="textTitle" class="title css-1x5ixzd">SẢN PHẨM NỔI BẬT</div>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
              <div><a href="#"> Xem tất cả <i class="fas fa-angle-right"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row owl-carousel ">
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" data-toggle="modal" data-target="#a1" class="image-container"><img
                      src="https://lh3.googleusercontent.com/p5lA9JCtKwjp_B56JUrIXbVBVaWKUnTdIcYOZehIZHlcDAX5w3EGKdU_NnSkZyOiwOMeVoh-FPb6ajABVyYjBxWAewGmMaWc=w500-rw"
                      class="card-img-top  " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>

                </div>
                <div class="card-body mt-1">
                  <div class="text-center">

                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        1123123

                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">
                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/lPsRWb6bFndzZQ9EFw-xVJO2WZUBqmpy5NGq2ueVdOSI89r8TFHSaNI_DcGHMyFK3mCj4cU8RoH7sXtcSLk89Tu0kBqkp6N8=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>

                </div>
                <div class="card-body mt-1">
                  <div class="text-center">

                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">


                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)

                      </p>
                    </a>
                  </div>

                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">
                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/Jsg6-adZeI1TZnmeIT8Tpal63lIr4tLji5QjZaOWJjjXPY1blN5K9cG1MWkI7LesQj-8Xw80MVRBQwXWd9fs-kC03cyFCxo=w230-rw"
                      class="card-img-top" alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/N-tp-JYfRbASQfIqRrxe626j5US-0hV9PEuSXhwGQea_qrCbncfUJ5fE0ZUjgK5pbBdXsPf_ubm8hN1kKfCNRoMW87WsaW8=w230-rw"
                      class="card-img-top" alt="Apple Computer" style="width: 100%;height: 172px;" /></a>

                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/8IsXlSWX5THYoC2x6UV-qVqHeW52hOKAN4-bwTqS5bZPFIoMri6liNzmlPnyXLXf2QRMXXEisESdHDEZ6SgB1pISIwmDC4rb=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/ilIYAAnca29yO_-6ewul-mfJeo9FlVbBfNpdFPbIrQmntZYusa6y9KQxBQtUmHCjjKgzuejc-xY6PkuWQ53CXObUgihOgyvP=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/3JFqgn1gigjmEFwG5nH6sICKnZRPHHAnMWoVRKyi2DQzb2zhihFENtO3pxAnx39EpkcPzRlGrEtB9pnKAIsMLW4Ax22OSzqtDQ=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">
                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/ITuM-86ObB_Q_pELdb6s3xjIvvECtOl2IxJJ9_4RUSaYmzOMEprg8EOQ-VKdFOeI3SFNL-fpnFL7KQggDoo84bXE2WIB_cDe=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    


    <!-- List Multi-item carousel -->
    <!-- Image category -->
    <section class="mb-5 mt-2 mx-2">
      <div class="row  mx-4 bg-ffffff w-1447">
        <div class="col-lg-12 p-5">
          <div class="row">
            <div class="col-lg-3 ">
              <a class="ripple" href="#!">
                <img alt="example" class="img-fluid rounded"
                  src="https://laptopxachtayshop.com/uploads/2023/05/Asus-TUF.jpg" />
              </a>
            </div>
            <div class="col-lg-3">
              <a class="ripple" href="#!">
                <img alt="example" class="img-fluid rounded"
                  src="https://laptopxachtayshop.com/uploads/2023/05/Lenovo-Gaming.jpg" />
              </a>
            </div>
            <div class="col-lg-3 ">
              <a class="ripple" href="#!">
                <img alt="example" class="img-fluid rounded"
                  src="https://laptopxachtayshop.com/uploads/2023/05/Dell-Gaming.jpg" />
              </a>
            </div>
            <div class="col-lg-3">
              <a class="ripple" href="#!">
                <img alt="example" class="img-fluid rounded"
                  src="https://laptopxachtayshop.com/uploads/2023/05/Acer-Gaming.jpg" />
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Image category -->

    <!-- List -->
    <section class="mt-5 mx-2">
      <div class="row mx-4" style="width: 1447.2px;">

        <div class="col-lg-12 p-3 mb-1 rounded-top " style=" background-color: #ffffff; ">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div type="title" color="textTitle" class="title css-1x5ixzd">DÀNH CHO BẠN</div>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
              <div><a href="#"> Xem tất cả <i class="fas fa-angle-right"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row ps-5 px-5 bg-ffffff">

            <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3"
              ng-repeat="pr in items |  orderBy:sortColumn:reverseSort | limitTo:8:begin">
              <div class="card text-black">
                <div class="position-relative">
                  <a href="#" class="image-container"><img
                      src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Acer-Nitro-5-AN515-i5-11400H-8.jpg&w=300&zc=1s"
                      class="card-img-top" alt="Apple Computer" style="width: 100%; height: 257px;" /></a>
                </div>
                
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#_{{pr.product.id}}">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip" title="{{pr.product.name}}">
                        {{pr.product.name}}
                        
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 mx-5 " style=" height: 40px;">
                    <div class="box-info__box-price mx-3">
                      <p class="product__price--show ">
                        {{pr.price | formatCurrency}}
                      </p>
                      <!-- <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- Model chi tiết sản phẩm  -->
              <div class="modal" id="_{{pr.product.id}}">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">

                    <div class="modal-body">
                      <div class="quickview_body">
                        <div class="container">
                          <div class="row">

                            <div class="col-12 col-lg-5">
                              <div class="col-lg-12 ">
                                <div class="quickview_pro_img ">
                                  <img
                                    src="https://bizweb.dktcdn.net/thumb/medium/100/465/515/products/gs-008319-feature-90245-1.jpg?v=1686198068287"
                                    alt="" data-toggle="tooltip" title="
                                    RAM: {{pr.product.ram.name}},  {{pr.product.ram.capacity}}, {{pr.product.ram.type}}
                                    CPU: {{pr.product.cpu.name}}
                                    Ỗ đĩa:  {{pr.product.storage.type}}  {{pr.product.storage.capacity}}GB
                                    Màn hình: {{pr.product.screenSize.size}}
                                    Card đồ họa:  {{pr.product.graphicsCard.name}}
                                    Hệ điều hành: {{pr.product.operatingSystem.name}}
                                    ">
                                </div>
                              </div>
                              <div class="col-lg-12 mt-5 ">
                                <button type="submit" name="addtocart" value="5"
                                  class="button btnred add-to-cartProduct">Mua
                                  ngay</button>
                              </div>
                            </div>
                            <!--  -->
                            <div class="col-12 col-lg-7">

                              <div class="row quickview_pro_des ps-5 px-5">
                                <div class="col-lg-12 " style="position: relative;">
                                  <span aria-hidden="true" class="close ml-auto text-right" data-dismiss="modal"
                                    aria-label="Close"><i class="fas fa-xmark"></i></span>
                                </div>
                                <div class="col-lg-12 ">
                                  <h4 class="title title_text_t" data-toggle="tooltip" title=""> {{pr.product.name}}
                                  </h4>
                                </div>
                                <div class="col-lg-12 mb-2 ">
                                  <span class="status">Trạng thái: </span>
                                  <span class="status-title   {{ pr.product.status == 1 ? 'text-warning' :  'text-danger'}}" > {{ pr.product.status == 1 ? 'còn hàng' : 'hết hàng' }}</span>
                                </div>
                                <div class="col-lg-12 mb-2 ">
                                  <span class="pro-title">Giá:</span>
                                  <span class="pro-price">{{pr.price | formatCurrency}}</span>
                                </div>

                                <div class="col-lg-12 d-flex mb-3">
                                  <span class="quantity-title align-self-center">Số lượng:</span>
                                  <div class="quantity">
                                    <div class="d-flex align-items-center">
                                      <input type="number" id="typeNumber" class="form-control" step="1" min="1" max="99" value="1" >
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-12 d-flex">
                                  <div class="col-lg-3">
                                    <span class="mota">Mô tả:</span>
                                  </div>
                                  <div class="col-lg-9 custom-scrollbar overflow">

                                      {{pr.product.description}}
                                  </div>
                                </div>

                                <div class="col-lg-12 mt-3 ">
                                  <span class="favorite-title">Yêu thích:</span>
                                  <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                                  <span class="favorite-icon"><i class="fas fa-heart-crack"></i></span>
                                </div>

                                <div class="col-lg-12 mt-4">
                                  <button type="submit" class="button-cart slide">Thêm vào giỏ hàng</button>
                                </div>


                              </div>

                            </div>
                            <!-- Add to Cart Form -->

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Model chi tiết sản phẩm  -->




            </div>



          </div>
          <!-- pagination -->
          <div class="row mt-5 ">
            <div class="col-lg-12 bg-ffffff mx-auto pt-3">
              <ul class="pagination pagination-info d-flex justify-content-center">
                <li ng-repeat="pageInfo in pagination" ng-class="{ 'page-item': true, 'active': pageInfo.active }">
                    <a  ng-if="pageInfo.page && !pageInfo.ellipsis" ng-click="setCurrentPage(pageInfo.page)" class="page-link">{{ pageInfo.page }}</a>
                    <span ng-if="pageInfo.ellipsis">...</span>
                </li>
            </ul>

            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- List -->

   <!-- Model chi tiết sản phẩm  -->
      <!-- Model chi tiết sản phẩm  -->
      <div class="modal" id="a1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="quickview_body">
                <div class="container">
                  <div class="row">

                    <div class="col-12 col-lg-5">
                      <div class="col-lg-12 ">
                        <div class="quickview_pro_img ">
                          <img src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Asus-TUF-Dash-F15-FX517-2.jpg&w=300&zc=1" alt="">
                        </div>
                      </div>
                      <div class="col-lg-12 mt-5 ">
                        <button type="submit" name="addtocart" value="5" class="button btnred add-to-cartProduct">Mua
                          ngay</button>
                      </div>
                    </div>
                    <!--  -->
                    <div class="col-12 col-lg-7">

                      <div class="row quickview_pro_des">
                        <div class="col-lg-12 " style="position: relative;">
                          <span aria-hidden="true" class="close ml-auto text-right" data-dismiss="modal"
                            aria-label="Close"><i class="fas fa-xmark"></i></span>
                        </div>
                        <div class="col-lg-12 ">
                          <h4 class="title title_text_t" data-toggle="tooltip" title="">[New 100%] Lenovo Legion 5 Pro
                            Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz) [New 100%] Lenovo Legion 5
                            Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz) [New 100%] Lenovo
                            Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                          </h4>
                        </div>
                        <div class="col-lg-12 mb-2 ">
                          <span class="status">Trạng thái: </span>
                          <span class="status-title">còn hàng</span>
                        </div>
                        <div class="col-lg-12 mb-2 ">
                          <span class="pro-title">Giá:</span>
                          <span class="pro-price">9,690,000₫</span>
                        </div>

                        <div class="col-lg-12 d-flex mb-3">
                          <span class="quantity-title align-self-center">Số lượng:</span>
                          <div class="quantity">
                            <div class="d-flex align-items-center">
                              <span class="qty-minus "
                                onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty > 1 ) effect.value--;return false;">
                                <i class="fa fa-minus " aria-hidden="true"></i>
                              </span>
                              <input type="number" class="qty-text " id="qty" step="1" min="1" max="12" name="quantity"
                                value="1" readonly>
                              <span class="qty-plus"
                                onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty < 12 ) effect.value++;return false;">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-12 d-flex">
                          <div class="col-lg-3">
                            <span class="mota">Mô tả:</span>
                          </div>
                          <div class="col-lg-9 custom-scrollbar overflow">
                            <p>Mô tả sản phẩm của bạ vượt quá kích thước của khung. Với thanh cuộn, bạn có thể kéo xuống để
                              xem toàn bộ mô tả sản phẩm của mình.</p>
                          </div>
                        </div>

                        <div class="col-lg-12 mt-3 ">
                          <span class="favorite-title">Yêu thích:</span>
                          <span class="favorite-icon"><i class="fas fa-heart"></i></span>
                          <span class="favorite-icon"><i class="fas fa-heart-crack"></i></span>
                        </div>

                        <div class="col-lg-12 mt-4">
                          <button type="submit" class="button-cart slide">Thêm vào giỏ hàng</button>
                        </div>


                      </div>

                    </div>
                    <!-- Add to Cart Form -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Model chi tiết sản phẩm  -->
      <!-- Model chi tiết sản phẩm  -->


  </main>
  <!-- Main -->



</body>

</html>