<!DOCTYPE html>
<html lang="en" th:replace="~{/layout/layout::dynamic(~{::title},~{::main})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>

<body>

  <!-- Main -->
  <main class=" mb-5 " ng-controller="index">

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
      <ul class="slides-container">
        <li class="text-left">
          <img
            src="https://lh3.googleusercontent.com/qVJAG-YkzjqlHSWRROBb7i_JnFYgNO8He_8RHM3liyVfUNzyb5QgXsDofYmwuGbke8vVFnc4ZJm4Kipjhy9LuM9IbnmxNcu9=w1920-rw"
            alt="">

        </li>
        <li class="text-center">
          <img
            src="https://lh3.googleusercontent.com/q17V75BbfTy9kJwovZX0dTDMlFUfLI59rAPLlnm71HG9kL-Hc7FblFYK2wXl-bA055LuHBX1wQmArmS6BNA5SVxdtJyDW52-=w1920-rw"
            alt="">
          s
        </li>
        <li class="text-right">
          <img
            src="https://lh3.googleusercontent.com/NEyGqAS4HkBmVGWbdLxRCJ7v4n7Xz-Xcfs6ffoxCNZMHBg0txwJk7L0FVyBvjZ9mwdFsV915-uAWlcX_JPHD1yJSq2EYfeV6=w1920-rw"
            alt="">
        </li>

      </ul>
      <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      </div>
    </div>
    <!-- End Slider -->

    <div th:insert="~{/layout/_categorites.html:: section}"></div>

    <!-- List Multi-item carousel -->
    <section class="mb-5 mt-5 ">
      <div class="row px-5">
        <div class="col-lg-12 p-3 mb-1 rounded-top bg-ffffff ">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div type="title" color="textTitle" class="title css-1x5ixzd">SẢN PHẨM NỔI BẬT</div>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
              <div><a href="#"> Xem tất cả <i class="fas fa-angle-right"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row owl-carousel ">
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" data-toggle="modal" data-target="#a1" class="image-container"><img
                      src="https://lh3.googleusercontent.com/p5lA9JCtKwjp_B56JUrIXbVBVaWKUnTdIcYOZehIZHlcDAX5w3EGKdU_NnSkZyOiwOMeVoh-FPb6ajABVyYjBxWAewGmMaWc=w500-rw"
                      class="card-img-top  " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>

                </div>
                <div class="card-body mt-1">
                  <div class="text-center">

                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        1123123

                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">
                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/lPsRWb6bFndzZQ9EFw-xVJO2WZUBqmpy5NGq2ueVdOSI89r8TFHSaNI_DcGHMyFK3mCj4cU8RoH7sXtcSLk89Tu0kBqkp6N8=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>

                </div>
                <div class="card-body mt-1">
                  <div class="text-center">

                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">


                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)

                      </p>
                    </a>
                  </div>

                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">
                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/Jsg6-adZeI1TZnmeIT8Tpal63lIr4tLji5QjZaOWJjjXPY1blN5K9cG1MWkI7LesQj-8Xw80MVRBQwXWd9fs-kC03cyFCxo=w230-rw"
                      class="card-img-top" alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/N-tp-JYfRbASQfIqRrxe626j5US-0hV9PEuSXhwGQea_qrCbncfUJ5fE0ZUjgK5pbBdXsPf_ubm8hN1kKfCNRoMW87WsaW8=w230-rw"
                      class="card-img-top" alt="Apple Computer" style="width: 100%;height: 172px;" /></a>

                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/8IsXlSWX5THYoC2x6UV-qVqHeW52hOKAN4-bwTqS5bZPFIoMri6liNzmlPnyXLXf2QRMXXEisESdHDEZ6SgB1pISIwmDC4rb=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/ilIYAAnca29yO_-6ewul-mfJeo9FlVbBfNpdFPbIrQmntZYusa6y9KQxBQtUmHCjjKgzuejc-xY6PkuWQ53CXObUgihOgyvP=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">

                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/3JFqgn1gigjmEFwG5nH6sICKnZRPHHAnMWoVRKyi2DQzb2zhihFENtO3pxAnx39EpkcPzRlGrEtB9pnKAIsMLW4Ax22OSzqtDQ=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 mt-3">
              <div class="card text-black">
                <div class="position-relative">
                  <a href="#" class="image-container"><img
                      src="https://lh3.googleusercontent.com/ITuM-86ObB_Q_pELdb6s3xjIvvECtOl2IxJJ9_4RUSaYmzOMEprg8EOQ-VKdFOeI3SFNL-fpnFL7KQggDoo84bXE2WIB_cDe=w230-rw"
                      class="card-img-top " alt="Apple Computer" style="width: 100%;height: 172px;" /></a>
                </div>
                <div class="card-body mt-1">
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#a1">
                      <p class="text-muted mb-4 clamp-5-lines " data-toggle="tooltip"
                        title="[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                    [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)">
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                        [New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA
                        165Hz)
                      </p>
                    </a>
                  </div>
                  <div class="total font-weight-bold mt-2 " style=" height: 40px;">
                    <div class="box-info__box-price">
                      <p class="product__price--show">
                        26.490.000₫
                      </p>
                      <p class="product__price--through">
                        30.400.000₫
                      </p>
                      <div class="product__price--percent">
                        <p class="product__price--percent-detail">
                          Giảm&nbsp;13%
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


  

    <!-- List Multi-item carousel -->
    <!-- Image category -->
    <section class="mb-5 mt-2 mx-2">
      <div class="row  mx-4 bg-ffffff w-1447">
        <div class="col-lg-12 p-5">
          <div class="row">
            <div class="col-lg-3 ">
              <a class="ripple" href="/client/ListCategory" ng-click="brandName('Asus')">
                <img alt="example" class="img-fluid rounded"
                  src="https://laptopxachtayshop.com/uploads/2023/05/Asus-TUF.jpg" />
              </a>
            </div>
            <div class="col-lg-3">
              <a class="ripple" href="/client/ListCategory" ng-click="brandName('Lenovo')">
                <img alt="example" class="img-fluid rounded"
                  src="https://laptopxachtayshop.com/uploads/2023/05/Lenovo-Gaming.jpg" />
              </a>
            </div>
            <div class="col-lg-3 ">
              <a class="ripple" href="/client/ListCategory" ng-click="brandName('Dell')">
                <img alt="example" class="img-fluid rounded"
                  src="https://laptopxachtayshop.com/uploads/2023/05/Dell-Gaming.jpg" />
              </a>
            </div>
            <div class="col-lg-3">
              <a class="ripple" href="/client/ListCategory" ng-click="brandName('Acer')">
                <img alt="example" class="img-fluid rounded"
                  src="https://laptopxachtayshop.com/uploads/2023/05/Acer-Gaming.jpg" />
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Image category -->

    <!-- List -->
    <section class="mt-5 mx-2">
      <div class="row mx-4" style="width: 1447.2px;">

        <div class="col-lg-12 p-3 mb-1 rounded-top " style=" background-color: #ffffff; ">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div type="title" color="textTitle" class="title css-1x5ixzd">DÀNH CHO BẠN</div>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
              <div><a href="/client/ListCategory" ng-click="brandName('xemTatCa')"> Xem tất cả <i class="fas fa-angle-right"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row css-1y2krk0" style="background-color: #f6f6f6; ">

            <div class="col-lg-3 col-md-4 col-sm-6 css-13w7uog" 
              ng-repeat="pd in items |  limitTo:10:begin">
              <div class="css-35xksx"ng-repeat="pr in prices" ng-if="pr.product.id === pd.id">
                <a class="css-pxdb0j" href="" data-toggle="modal"  ng-click="imageOne(pd.id)"data-target="#_{{pd.id}}">
                  <div class="css-4rhdrh">
                    <div class="css-1v97aik">
                      <div class="css-798fc">
                        
                        <div height="100%" width="100%" class="css-1uzm8bv" ng-repeat="ig in images" ng-if="ig.product.id === pd.id">
                          
                          <img
                          ng-src="{{ig.name}}"
                            style="width: 100%; height: 100%; object-fit: contain; position: absolute; top: 0px; left: 0px;">
                        </div>
                      </div>

                      <div class="css-14q2k9d"  ng-repeat="dp in discountPrices" ng-if="dp.price.id === pr.id">
                        <div class="css-zb7zul">
                          <div class="css-1bqeu8f">TIẾT KIỆM</div>
                          <div class="css-1rdv2qd">{{ (pr.price*(dp.discount.percentage / 100)) | formatCurrency}}</div>
                        </div>
                      </div>
                      
                    </div>
                    <div class="css-68cx5s">
                      <div class="css-5gl0js" style="text-transform: uppercase; display: inline;">
                        {{pd.brand.name}}
                        </div>
                    </div>
                    <div class="css-1ybkowq">
                      <div class="att--title css-38w3f2" color="textPrimary">
                        <h3 class="css-1xdyrhj">{{pd.name}}/{{pd.id}}</h3>
                      </div>
                    </div>
                    <!--  -->
                    <div class="css-kgkvir"  ng-repeat="not in notNul" ng-if="not.id === pr.id">
                      <div class="css-1co26wt" >
                        <div class="css-nt9nao" >{{ pr.price | formatCurrency }}</div>
                      </div>
                    </div>

                    <div class="css-kgkvir" ng-repeat="dp in discountPrices" ng-if="dp.price.id === pr.id">
                      <div class="css-1co26wt" >
                        <div class="css-nt9nao" >{{ pr.price - (pr.price * (dp.discount.percentage / 100)) | formatCurrency }}</div>
                        <div class="css-3mjppt"   >
                          <div class="css-1gnksc0" color="textSecondary">{{ pr.price | formatCurrency }}</div>
                          <div t color="primary500" class="css-1qruly8">-{{ dp.discount.percentage }}%</div>
                        </div>
                      </div>
                    </div>
                      <!--  -->
                  </div>
                </a></div>


              <div class="modal" id="_{{pd.id}}">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">

                    <div class="modal-body">
                      <div class="quickview_body">
                        <div class="container">
                          <div class="row">

                            <div class="col-12 col-lg-5" >
  <!--  -->
                          <div class="col-lg-12 container_img">
                            <div class="mySlides" ng-repeat="ig in image.slice().reverse()" ng-if="ig.product.id === pd.id">
                              <img class="zoomable-img" ng-src="{{ig.name}}" >
                            </div>
                            
                            <a class="prev" ng-click="plusSlides(-1)">❮</a>
                            <a class="next" ng-click="plusSlides(1)">❯</a>
                        </div>
                        <div class="col-lg-12 mt-1 ">
                        <div class="img_bottom ">
                            <div class="column " ng-repeat="ig in image.slice().reverse() track by $index" ng-if="ig.product.id === pd.id">
                              <img class="demo-img cursor" ng-src="{{ig.name}}" style="width:100%; height: 50px;" ng-click="currentSlide(($index+1))" alt="The Woods">
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-12  px-3 pt-3">
                          <ul class="info-laptop">
                            <li>- CPU: {{pd.cpu.name}}</li>
                            <li>- Màn hình: {{pd.screenSize.size}}" {{pd.screenSize.panelType}} ({{pd.screenSize.resolution}}),144hz</li>
                            <li>- RAM: {{pd.ram.capacity}}GB {{pd.ram.type}} 3200MHz {{pd.ram.manufacturer}}</li>
                            <li>- Đồ họa: {{pd.graphicsCard.name}}</li>
                            <li>- Lưu trữ: {{pd.storage.capacity}}GB {{pd.storage.type}}</li>
                            <li>- Hệ điều hành: {{pd.operatingSystem.name}}</li>
                        </ul>
                        </div>

                            </div>
                            <!--  -->
                            <div class="col-12 col-lg-7">

                              <div class="row quickview_pro_des ps-5 ">
                                <div class="col-lg-12 " style="position: relative;">
                                  <span aria-hidden="true" class="close ml-auto text-right" data-dismiss="modal"
                                    aria-label="Close"  ><i class="fas fa-xmark"></i></span>
                                </div>
                                <div class="col-lg-12 ">
                                  <h4 class="title title_text_t" data-toggle="tooltip" title=""> {{pd.name}}
                                  </h4>
                                </div>
                                <div class="col-lg-12 mb-2 ">
                                  <span class="status">Trạng thái: </span>
                                  <span
                                    class="status-title   {{ pr.product.status == 1 ? 'text-warning' :  'text-danger'}}">
                                    {{ pd.status == 1 ? 'còn hàng' : 'hết hàng' }}</span>
                                </div>
                                <div class="col-lg-12 mb-2 " style="display: flex;" ng-repeat="pr in prices" ng-if="pr.product.id === pd.id">
                                  <span class="pro-title">Giá:</span>
                                  <div class="css-kgkvir pro-price"  ng-repeat="not in notNul" ng-if="not.id === pr.id">
                                    <div class="css-1co26wt" >
                                      <div class="css-nt9nao" >{{ pr.price | formatCurrency }}</div>
                                    </div>
                                  </div>
                                    <span class="pro-price" ng-repeat="dp in discountPrices" ng-if="dp.price.id === pr.id">
                                      <div class="css-nt9nao" >{{ pr.price - (pr.price*(dp.discount.percentage / 100)) | formatCurrency}}</div>
                                      <div class="css-3mjppt"  >
                                        <div class="css-1gnksc0" color="textSecondary">{{ pr.price | formatCurrency }}</div>
                                        <div t color="primary500" class="css-1qruly8">-{{dp.discount.percentage}}%</div>
                                      </div>
                                    </span>
                                </div>

                                <div class="col-lg-12 d-flex mb-3">
                                  <span class="quantity-title align-self-center" >Số lượng:</span>
                                  <div class="quantity">
                                    <div class="d-flex align-items-center">
                                      <input type="number" id="typeNumber" ng-model="cartProdQuantity" class="form-control" step="1" min="1"
                                        max="99" value="1">
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-12 d-flex" style=" height: 87px;">
                                  <div class="col-lg-3">
                                    <span class="mota">Mô tả:</span>
                                  </div>
                                  <div class="col-lg-9 custom-scrollbar overflow">

                                    {{pd.description}}
                                  </div>
                                </div>

                                <div class="col-lg-12  ">
                                  <span class="favorite-title">Yêu thích:</span>
                                  <span class="favorite-icon" ng-click="andFavorite(pd.id)"><i class="fas fa-heart"></i></span>
                                  <!-- <span class="favorite-icon"><i class="fas fa-heart-crack"></i></span> -->
                                </div>

                                <div class="col-lg-12 mt-5">
                                  <div class="row">
                                    <div class="col-lg-6"><button type="submit" name="addtocart" value="5"
                                        class="button btnred add-to-cartProduct">Mua
                                        ngay</button></div>
                                        {{pd.id}}
                                    <div class="col-lg-6"> <button  ng-click="cart.add(pd.id,cartProdQuantity)" class="button-cart slide">Thêm vào giỏ
                                        hàng</button></div>
                                      
                                  </div>

                                </div>


                              </div>

                            </div>
                            <!-- Add to Cart Form -->

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

           


          </div>
          <!-- pagination -->
          <div class="row mt-5 ">
            <div class="col-lg-12 bg-ffffff mx-auto pt-3">
              <ul class="pagination pagination-info d-flex justify-content-center">
                <li ng-repeat="pageInfo in pagination" ng-class="{ 'page-item': true, 'active': pageInfo.active }">
                  <a ng-if="pageInfo.page && !pageInfo.ellipsis" ng-click="setCurrentPage(pageInfo.page)"
                    class="page-link">{{ pageInfo.page }}</a>
                  <span ng-if="pageInfo.ellipsis">...</span>
                </li>
              </ul>

            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- List -->

    <!-- Model chi tiết sản phẩm  -->
    <!-- Model chi tiết sản phẩm  -->
    <div class="modal" id="a1">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <div class="quickview_body">
              <div class="container">
                <div class="row">

                  <div class="col-12 col-lg-5 bg-danger">
                    <div class="col-lg-12 ">
                      <div class="quickview_pro_img ">
                        <img
                          src="https://laptopxachtayshop.com/thumb.php?src=/uploads/2022/10/Asus-TUF-Dash-F15-FX517-2.jpg&w=300&zc=1"
                          alt="">
                      </div>
                    </div>
                    <div class="col-lg-12 mt-5">
                      <button type="submit" name="addtocart" value="5" class="button btnred add-to-cartProduct">Mua
                        ngay</button>
                    </div>
                  </div>
                  <!--  -->
                  <div class="col-12 col-lg-7">

                    <div class="row quickview_pro_des">
                      <div class="col-lg-12 " style="position: relative;">
                        <span aria-hidden="true" class="close ml-auto text-right" data-dismiss="modal"
                          aria-label="Close"><i class="fas fa-xmark"></i></span>
                      </div>
                      <div class="col-lg-12 ">
                        <h4 class="title title_text_t" data-toggle="tooltip" title="">[New 100%] Lenovo Legion 5 Pro
                          Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz) [New 100%] Lenovo Legion
                          5
                          Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz) [New 100%] Lenovo
                          Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)
                        </h4>
                      </div>
                      <div class="col-lg-12 mb-2 ">
                        <span class="status">Trạng thái: </span>
                        <span class="status-title">còn hàng</span>
                      </div>
                      <div class="col-lg-12 mb-2 ">
                        <span class="pro-title">Giá:</span>
                        <span class="pro-price">9,690,000₫</span>
                      </div>
                      <div class="col-lg-12 d-flex mb-3">
                        <span class="quantity-title align-self-center">Số lượng:</span>
                        <div class="quantity">
                          <div class="d-flex align-items-center">
                            <span class="qty-minus "
                              onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty > 1 ) effect.value--;return false;">
                              <i class="fa fa-minus " aria-hidden="true"></i>
                            </span>
                            <input type="number" class="qty-text " id="qty" step="1" min="1" max="12" name="quantity"
                              value="1" readonly>
                            <span class="qty-plus"
                              onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty < 12 ) effect.value++;return false;">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12 d-flex">
                        <div class="col-lg-3">
                          <span class="mota">Mô tả:</span>
                        </div>
                        <div class="col-lg-9 custom-scrollbar overflow">
                          <p>Mô tả sản phẩm của bạ vượt quá kích thước của khung. Với thanh cuộn, bạn có thể kéo xuống
                            để
                            xem toàn bộ mô tả sản phẩm của mình.</p>
                        </div>
                      </div>

                      <div class="col-lg-12 mt-3 ">
                        <span class="favorite-title">Yêu thích:</span>
                        <span class="favorite-icon" ng-click="andFavorite()"><i class="fas fa-heart"></i></span>
                        <span class="favorite-icon"><i class="fas fa-heart-crack"></i></span>
                      </div>

                      <div class="col-lg-12 mt-4">
                        <a  class="button-cart slide">Thêm vào giỏ hàng</a>
                      </div>


                    </div>

                  </div>
                  <!-- Add to Cart Form -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Model chi tiết sản phẩm  -->
    <!-- Model chi tiết sản phẩm  -->


    <!--  -->
    <script>
    //   let slideIndex = 1;
    //   showSlides(slideIndex);
    //   function plusSlides(n) {
    //     showSlides(slideIndex += n);
    //   }
    //   function currentSlide(n) {
    //     showSlides(slideIndex = n);
    //   }
    //   function showSlides(n) {
    //     let ia;
    //     let slidesa = document.getElementsByClassName("mySlidesa");
    //     let dots = document.getElementsByClassName("demo-img");
    //     if (n > slidesa.length) { slideIndex = 1 }
    //     if (n < 1) { slideIndex = slidesa.length }
    //     for (ia = 0; ia < slidesa.length; ia++) {
    //       slidesa[ia].style.display = "none";
    //     }
    //     for (ia = 0; ia < dots.length; ia++) {
    //       dots[ia].className = dots[ia].className.replace("active", "");
    //     }
    //     slidesa[slideIndex - 1].style.display = "block";
    //     dots[slideIndex - 1].className += " active";
    //   }

    //   function addModalHandler(imgId, modalId) {
    //     var modal = document.getElementById(modalId);
    //     var img = document.getElementById(imgId);
    //     var modalImg = modal.getElementsByClassName("modal-content-img")[0];
    //     img.onclick = function () {
    //       modal.style.display = "block";
    //       modalImg.src = this.src;
    //       modal.style.transform = "scale(1)";
    //     };
    //     var span = modal.getElementsByClassName("close-img")[0];
    //     span.onclick = function () {
    //       modal.style.transform = "scale(0)";
    //       setTimeout(function () {
    //         modal.style.display = "none";
    //       }, 600);
    //     };
    //   }

    //   const characters = ['a', 'b', 'c', 'd', 'e'];
    //   for (var i = 0; i < 5; i++) {
    //     var imgId = "myImg" + (i + 1000) + characters[i];
    //     var modalId = "myModal" + (i + 1) + characters[i]; 
    //     addModalHandler(imgId, modalId);
      
    // }

     
    </script>

  </main>
  <!-- Main -->



</body>

</html>